<ion-content style="
    background-image: url('img/backgoundlogin.png');
    background-size: cover;
    /* background-color:darkkhaki; */

  ">
  <div style="    height: 100vh;
  display: flex;">
    <div class="form-group" style="       max-width: 600px;
      margin: auto;
      padding: 35px;
      vertical-align: middle;
      width: 100%;
      position: relative;
      margin-top: 75%;
  ">
      <label for="exampleInputEmail1">Username</label>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
        ng-model="model.username" ng-pattern="/^[a-zA-Z0-9]*$/" uppercased />

      <div style="margin-top:10px"> </div>

      <label for="exampleInputEmail1">Password</label>

      <div>
        <span class="btn-show-pass">
          <i class="zmdi zmdi-eye" style="position: relative;
    right: 55px;
    top: -17px;"> </i>
        </span>
        <input style="padding: 15px;" type="password" class="form-control" id="exampleInputEmail1"
          aria-describedby="emailHelp" ng-model="model.password" ng-pattern="/^[a-zA-Z0-9]*$/" uppercased />
      </div>





      <div style="margin-top:30px"> </div>


      <button type="button" class="button-login" ng-click="vm.login()">
        Login
      </button>

      <div style="text-align: center;">



        <span class="txt1" style="color:white;font-weight: bold; font-size:small;text-decoration-line: underline;"
          ng-click="vm.regis()">

          สมัครสมาชิก

        </span>
        <!-- <span style="color:white;font-weight: bold; font-size:small;margin-left: 5px;;margin-right: 5px;">
            |
          </span>

          <span class="txt1" style="color:white;font-weight: bold; font-size:small;text-decoration-line: underline;"  ng-click="vm.regis()">
      
            ลืมรหัสผ่าน ?
       
          </span> -->

      </div>




    </div>

  </div>


  </div>
</ion-content>
