<ion-view hide-back-button="false" hide-nav-bar="false">
  <ion-nav-title><b style="font-size:18px;"> แจ้งเตือน</b>
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <!-- <button class="button ion-power btn-home" style="font-size: 20px;
                         color: #4c4c4c;" ng-click="vm.goback()"></button> -->
  </ion-nav-buttons>
  <ion-content>
    <style>
      .scroll {
        height: 120%;
      }

    </style>


    <div class="item item-body">

      <div style="font-weight: bold;font-size: larger;">{{detail.news_hline}}</div>
      <div style="color:gray;font-size: small;">{{detail.subdatedesc}} {{detail.time}}</p>
        <ion-slide-box style="max-height: 250px;" auto-play="true" does-continue="true">
          <ion-slide ng-repeat="x in detail.pic" style="text-align: center;">
            <img  style="border-radius: 10px;margin-top:10px; width: 100%;
            max-width: 400px;
            height: auto;" ng-src="{{x.path}}">
          </ion-slide>
        </ion-slide-box>
        <p style="white-space: break-spaces;">{{detail.news_content}}
        </p>

      </div>

      <div style="text-align: center;">
        <iframe  src="{{vm.urlink}}" frameborder="0"></iframe>

      </div>

      <!-- <iframe-directive></iframe-directive> -->
    </div>
  </ion-content>
</ion-view>
