<ion-view hide-back-button="false" cache-view="false">
  <!-- <ion-nav-buttons side="left">
      <button
        class="button button-clear ion-chevron-left"
        ng-click="vm.goBack()"
        style="font-weight: 400; color: white;"
      >
        Back
      </button> -->
  </ion-nav-buttons>

  <ion-nav-title><b style="font-size: 18px;">{{vm.shipID.logis_name}}</b>
  </ion-nav-title>
  <ion-nav-buttons side="right">


    </button>
  </ion-nav-buttons>
  <!-- style="background:#f5f5f5" -->
  <style>
    .lis .card {
      margin: 2px;
    }

    .dp-flex {
      display: flex;
      justify-content: space-between;
    }

  </style>
  <ion-content style=" background-color: #fafafa;">
    <div class="list">

    <div class="item item-toggle">
      เปิดการใช้งาน {{vm.shipListSetting.result.logis_name}}
      <label class="toggle">
        <input type="checkbox"  ng-model="vm.shipListSetting.result.shipping_provider_status" 
        ng-true-value="1" ng-false-value="0" ng-change=vm.change()>
        <div class="track">
          <div class="handle"></div>
        </div>
     </label>

    </div>
    <div style="padding: 15px;color: gray;" ng-if="vm.shipListSetting.result.shipping_provider_status == 1">
      <div>ผู้ใช้งานจะเห็นตัวเลือกนี้อยู่ในการจัดส่ง</div>
      <div>ค่าบริการขนส่ง จะถูกคำนวนโดยคิดจากน้ำหนักสินค้า</div>

    </div>
      </div>
   

      <div style="padding: 15px;margin-top:-20px" >
        <a style="    font-size: larger;">ค่าบริการขนส่ง</a>
      </div>
          <div class="item" style="display: flex;border: none;" ng-repeat="z in vm.shipListSetting.descship track by $index" >
            <div style="width: 15%;">-</div>
            <div style="width: 85%;"  ng-if="z.logis_price != 0"> <a style="font-weight: bold;">ไม่เกิน {{z.logis_rate_kg | number}}</a> กิโลกรัม <a
                style="font-weight: bold;color:green">฿ {{z.logis_price | number}}</a></div>
                <div style="width: 85%;"  ng-if="z.logis_price == 0">ฟรีค่าจัดส่ง</div>
          </div>





  







    <div style="     align-items: center;
  justify-content: center;
  display: flex;
  min-height: 80%;">
      <div ng-if="vm.list.status == false" style="text-align: center;height: 100%;">
        <h2 style="color: gray;">ไม่พบรายการที่ลงขาย</h2>
      </div>

    </div>


    <script id="my-detail.html" type="text/ng-template">
      <ion-modal-view>
                  <ion-header-bar>
                      <button type="button" class="button button-assertive button-clear" ng-click="closeModalDetail()">close</button>
                    <h1 class="title" style="text-align:center">{{vm.detail.datedesc}} {{vm.detail.time}}</h1>
                    <!-- <button type="button" class="button button-positive button-clear" ng-click="closeModalItem()">เลือกทั้งหมด</button> -->
  
                  </ion-header-bar>
                  <ion-content style="background-color: #fafafa">
                    <style>
                            .modal-open{
                              pointer-events: all;
                            }
                    </style>
  
  <div class="item">
    <div class="dp-flex">
      <a>สถานะ</a><a><span ng-if="vm.detail.mrm_status == 'CONFIRM'"> <i style="color:green" class="icon ion-checkmark-circled"></i></span> {{vm.detail.ml_status_desc}}</a>
    </div>
    <div class="dp-flex"><a>รหัสการจอง</a><a>{{vm.detail.mrm_ref}}</a></div>
    <div class="dp-flex">
      <a>ชื้่อผู้จอง</a
      ><a>คุณ {{vm.detail.mu_fname}} {{vm.detail.mu_lname}}</a>
    </div>
    <div class="dp-flex">
      <a>เบอร์โทรศัพท์</a><a>{{vm.detail.mu_tel}} </a>
    </div>
    <div class="dp-flex">
      <a>ที่อยู่</a
      ><a
        style="
          width: 80%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          text-align: right;
        "
        >{{vm.detail.mrm_address}}</a
      >
    </div>
  </div>
  
  <div class="item" style="margin-top: 10px;">
    <div class="dp-flex">
      <a style="font-weight: bold; font-size: larger;">รายการ</a><a></a>
    </div>
  
    <div class="dp-flex" style="margin-bottom: 10px;padding-bottom: 10px; border-bottom: solid 1.5pt #fafafa;" ng-repeat="k in vm.detail.detail">
    
      <a style="flex:6">
        <div>{{k.ml_part_desc}} 
       
        </div>
        <div style="color: gray;">{{k.ml_serial}}</div> 
        <!-- <span style="display: grid;">
          <button class="button button-small  button-positive">ขาย</button>
  
        </span> -->
      </a>
  
      <!-- <a style="flex:1" ng-if="k.mrd_status1 == 'CONFIRM'">
        <button class="button button-icon ion-plus-round"></button>
      </a> -->
      
      <a>{{k.ml_price}} </a>
    </div>
  
   
  </div>
  
  <!-- <div class="item ">
    <div class="dp-flex"><a style="font-weight: bold;">ดูเพิ่มเติม</a><a></a></div>
   </div> -->
  
  <div class="item" style="margin-top: 10px;">
    <div class="dp-flex"><a>ค่าสินค้า</a><a>{{ getTotal() }}</a></div>
    <!-- <div class="dp-flex"><a>ค่าจัดส่ง</a><a>-</a></div> -->
  </div>
  <div class="item">
    <div class="dp-flex" style="font-weight: bold;">
      <a>รวมทั้งหมด</a><a>{{ getTotal() }}</a>
    </div>
  </div>
  
  <div class="item" style="margin-top: 10px;">
    <div class="dp-flex">
      <a style="font-weight: bold; font-size: larger;">การชำระเงิน</a><a></a>
    </div>
  
    <div style="border-bottom: solid 1.5pt #fafafa;margin-top: 20px;" ng-repeat="k in [1,2,3]">
      <div class="dp-flex" style="margin-bottom: 20px;">
        <a
          >1 มิ.ย. 63 08:00 น.<br />
          <div>เลขที่ทำการ : 010153122227207225</div>
        </a>
  
        <a>{{vm.detail.ml_price}}</a>
      </div>
    </div>
  
   
  
    
  
  </div>
  
                  </ion-content>
                </ion-modal-view>
      </script>
  </ion-content>
</ion-view>
