<ion-view hide-back-button="false" cache-view="true">
    <ion-nav-buttons side="left">
    </ion-nav-buttons>
    <ion-nav-title> รายการรับเข้า </ion-nav-title>
    <ion-nav-buttons side="right">
    </ion-nav-buttons>
    <ion-content>
        <div class="list">
            <a
              class="item"
              ng-repeat="x in vm.list track by $index"
              ng-click="vm.clickList(x)"
            >
              <div
                style="
                  display: flex;
                  flex-direction: row;
                  justify-content: space-between;
                "
              >
                <div>{{x.pt_desc1}}</div>
                <div>{{x.ld_qty_oh | number}} {{x.pt_um}} </div>
              </div>
              <p>{{x.ld_lot}}</p>
            </a>
          </div>
    </ion-content>
  </ion-view>
  