<ion-view hide-back-button="true" hide-nav-bar="false" cache-view="false">
  <!-- <ion-nav-buttons side="left">
    <i class="icon"> <img style="width:100%" src="img/farmer.png"></i>

  </ion-nav-buttons> -->
  <ion-nav-title><b style="font-size: 18px;">AgriPro Farmer</b> </ion-nav-title>
  <ion-nav-buttons side="right"> </ion-nav-buttons>

  <style>
    .overflow-scroll .scroll {
      height: 100%;
    }

    .scroll {
      height: 100%;
    }
  </style>

  <ion-content>

    <style>
      .menuimg {
        width: 100px;
        height: auto;
      }
      .bgmenuicon {
        background-color: transparent;
      }

      .txticon {
        font-weight: bold;
      }
      .flexicon-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
      }
    </style>

  


    <div style="padding: 15px;">
      <div class="row">
        <div class="col button bgmenuicon flexicon-text" ng-click="vm.area()">
          <img class="menuimg" src="img/menuicon/area.png" />
          <div class="txticon">กำหนดพื้นที่</div>
        </div>
        <div class="col button bgmenuicon flexicon-text" ng-click="vm.cropPlant()">
          <img class="menuimg" src="img/menuicon/1.png" />
          <div class="txticon">รอบปลูก - เลี้ยง</div>
        </div>
      </div>
      <div class="row">
        <div class="col button bgmenuicon flexicon-text" ng-click="vm.detail()">
          <img class="menuimg" src="img/menuicon/2.png" />
          <div class="txticon">กิจกรรมปลูก - เลี้ยง</div>
        </div>
        <div class="col button bgmenuicon flexicon-text" ng-click="vm.receive()">
          <img class="menuimg" src="img/menuicon/receive.png" style="max-width: 90px;" />
          <div class="txticon">รับเข้ารายการ</div>
        </div>
      </div>
  

      <div class="row">
            <div class="col button bgmenuicon flexicon-text" ng-click="vm.withdraw ()">
        <img class="menuimg" src="img/menuicon/3.png" />
        <div class="txticon">เบิกวัตถุดิบ</div>
      </div>

        <div class="col button bgmenuicon flexicon-text" ng-click="vm.predict()">
          <img class="menuimg" src="img/menuicon/12.png" />
          <div class="txticon">คาดการเก็บเกี่ยว</div>
        </div>
   
        <!-- <div class="col button bgmenuicon flexicon-text" ng-click="vm.meeting()">
          <img class="menuimg" src="img/menuicon/5.png" />
          <div class="txticon">ตารางนัด</div>
        </div> -->

        

      
      </div>

      <div class="row">
        <div class="col button bgmenuicon flexicon-text" ng-click="vm.meeting()">
          <img class="menuimg" src="img/menuicon/5.png" />
          <div class="txticon">ตารางนัด</div>
        </div>
        <div class="col button bgmenuicon flexicon-text" ng-click="vm.accounting()">
          <img class="menuimg" src="img/menuicon/6.png" />
          <div class="txticon">บัญชีซื้อ-ขาย</div>
        </div>
        
      </div>

      <div class="row">
        <div class="col button bgmenuicon flexicon-text" ng-click="vm.news()">
          <img class="menuimg" src="img/menuicon/7.png" />
          <div class="txticon">ข่าวสารองค์กร</div>
        </div>

        <div class="col button bgmenuicon flexicon-text" ng-click="vm.weather()">
          <img class="menuimg" src="img/menuicon/8.png" />
          <div class="txticon">กรมอุตุนิยมวิทยา</div>
        </div>
       
      
      </div>
      <div class="row">

        <div class="col button bgmenuicon flexicon-text" ng-click="vm.controliot()">
          <img class="menuimg" src="img/menuicon/9.png" />
          <div class="txticon">ควบคุมอุปกรณ์</div>
        </div>
        <div class="col button bgmenuicon flexicon-text" ng-click="vm.martDash()" 
        ng-if="global.agripro_mart">
          <img class="menuimg" src="img/mart/1.png" />
          <div class="txticon">AgriPro Mart</div>
        </div>
      </div>

 
    </div>

  
  </ion-content>


  <script id="my-wo-id.html" type="text/ng-template">
    <ion-modal-view style="bottom:10%;border-raduius:10px;border-radius: 10px;">
        <ion-header-bar>
            <button type="button" class="button button-assertive button-clear" ng-click="closeModalMyId()">close</button>
          <h1 class="title" style="text-align:center">รายการเพาะปลูก</h1>
        </ion-header-bar>
        <ion-content >
          <div class="list" >
            <div
              class="item"
              style="margin-bottom: 10px;"
              ng-click="selectID(x)"
              ng-repeat="x in vm.list.result track by $index"
            >
              <div style="display: flex; justify-content: space-between;">
                {{x.wo_nbr}} - {{x.pt_desc1}}  <a>ID :&nbsp;{{x.wo_lot}}</a>
              </div>
      
              <div style="display: flex; justify-content: space-between;">
                <a>{{x.farm_name}}</a>
                <a>
                    <span ng-if="x.mim_status == 'CONFIRM'"><i style="color:green" class="icon ion-checkmark-circled"></i></span>
                    {{x.ml_status_desc}}</a>
              </div>
      
              <div  class="dp-flex"> 
                <a>วันที่เริ่มปลูก : {{x.datedesc}}</a>
                <a style="color:green;font-weight: bold;">{{x.mid_total | currency : value="฿ "}}</a>
              </div>
            </div>
           
          </div>
        </ion-content>
      </ion-modal-view>
    </script>
</ion-view>
