<ion-view hide-back-button="true">
  <ion-nav-buttons side="left">
    <button
      class="button button-clear ion-chevron-left"
      ng-click="vm.goBack()"
      style="font-weight: 400; color: white"
    >
      Back
    </button>
  </ion-nav-buttons>

  <ion-nav-title><b style="font-size: 18px">จัดการเพาะปลูก</b> </ion-nav-title>
  <ion-nav-buttons side="right"> </ion-nav-buttons>
  <style>
    .overflow-scroll .scroll {
      height: 120%;
    }

    .scroll {
      height: 120%;
    }
  </style>
  <ion-content class="">
    <div class="list" style="border-radius: 15px">
      <div class="item item-divider">บันทึกข้อมูลการเพาะปลูก</div>
      <div class="item item-avatar" ng-click="vm.addimg()">
        <img src="img/farming/image-add.png" />
        <div style="font-weight: bold">เพิ่มรูปภาพ</div>
        <p>บันทึกรูปภาพการเพาะปลูก</p>
      </div>

      <div class="item item-avatar" ng-click="vm.viewimg()">
        <img src="img/farming/image.png" />
        <div style="font-weight: bold">ดูรูปภาพทั้งหมด</div>
        <p>ดูรูปภาพบันทึกทั้งหมดตามพื้นที่เพาะปลูก</p>
      </div>

      <div class="item item-avatar" ng-click="vm.detail()">
        <img src="img/farming/3.png" />

        <div style="font-weight: bold">บันทึกกิจกรรม</div>
        <p>บันทึกกระบวนการเพาะปลูก</p>
      </div>
      <div ng-if="global.mob_config != 'INET027'">
        <div class="item item-avatar" ng-click="vm.recordEtc()">
          <img src="img/farming/qr.png" />
          <div style="font-weight: bold">รายการ (สำหรับต้น,ลูกทุเรียน)</div>

          <p>แสกนรายการ,เพิ่มรูปภาพ,พิกัด</p>
        </div>

      <!-- <div class="item item-divider">รายการ Lot , รับเข้า</div>
 
        <div class="item item-avatar" ng-click="vm.receive()">
          <img src="img/farming/receive.png" />

          <div style="font-weight: bold">รับเข้า (สำหรับต้น,ลูกทุเรียน)</div>

          <p>รับเข้ารายการ</p>
        </div> -->
      </div>
    </div>
  </ion-content>
</ion-view>
