<ion-view hide-back-button="false">
  <ion-nav-title> ดูข้อมูลย้อนหลัง
  </ion-nav-title>
  <button type="button" class="button icon-ion-refresh"></button>

  <ion-content>

    <!-- <center>
      <h3 style="margin-top:20px">ยังไม่สามารถดูย้อนหลังได้</h3>
    </center> -->
    <div ng-if="vm.lsStatus == true">


      <div ng-if="model.sub.iot_version != 'ไม่มีอุปกรณ์'">

        <div class="item" style="padding: 0;">
          <div layout="column" layout-align="center center">

            <md-select placeholder="เลือก" ng-model="model.sub" ng-change="vm.subChange(model.sub)" style="width: 95%;">
              <md-option ng-value="k" ng-repeat="k in datass.result">{{k.iot_id}} / {{k.iot_names ? k.iot_name : 'ไม่มีชื่อ'}} 
                <a ng-if="k.farm_name != 0">
                  - {{k.farm_name}} -
                โรงเรือนที่ {{k.iot_sub_idd}} </a> 
               </md-option>
            </md-select>

          </div>

        </div>

        


        <div class="container" style="    margin-top: 10px;
        margin-bottom: 10px;">
          <div class="button-bar">
            <a class="button button-small" style="border:solid 1pt;border-radius:2px" ng-click="vm.day(model.sub)">30
              วัน</a>
            <a class="button button-small" style="border:solid 1pt;border-radius:2px" ng-click="vm.month(model.sub)">6
              เดือน</a>
            <a class="button button-small" style="border:solid 1pt;border-radius:2px" ng-click="vm.year(model.sub)">1
              ปี</a>
            <a class="button button-small" style="border:solid 1pt;border-radius:2px"
              ng-click="vm.manual(model.sub)">กำหนดเอง</a>
  
          </div>
        </div>

        <!-- <div class="card" style="margin: 10px 0px;"> -->
          <ion-slide-box class="btn2" style="width: 100%;height: auto;margin-top:10px;" show-pager="false">
            <ion-slide>
  
              <h5 style="text-align:center">{{header}}</h5>
  
              <br>
              <canvas height="10" width="10" id="line" class="chart chart-line" chart-data="data" chart-labels="labels"
                chart-series="series" chart-options="options" chart-dataset-override="datasetOverride"
                chart-click="onClick" chart-colors="colors">
              </canvas>
            </ion-slide>
  
  
          </ion-slide-box>
        </div>
        
      </div>

      <div ng-if="model.sub.iot_version == 'ไม่มีอุปกรณ์'" style="text-align: center;font-size: large;
    margin-top: 20px;">
        ไม่ได้เชื่อมต่ออุปกรณ์กับพื้นที่นี้
      </div>

    <!-- </div> -->

    <div ng-if="vm.lsStatus == false" style="padding:10px;">

      <h4 style="text-align:center;">
        ยังไม่มีการเชื่อมต่ออุปกรณ์ ไปที่หน้าพื้นที่เพาะปลูกเพื่อสร้างพื้นที่ และเชื่อมต่ออุปกรณ์
      </h4>

    </div>


    <!-- <div ng-if="vm.lsStatus == true">

      <div class="container">
        <div class="button-bar">
          <a class="button button-small" style="border:solid 1pt;border-radius:2px" ng-click="vm.day(model.sub)">30
            วัน</a>
          <a class="button button-small" style="border:solid 1pt;border-radius:2px" ng-click="vm.month(model.sub)">6
            เดือน</a>
          <a class="button button-small" style="border:solid 1pt;border-radius:2px" ng-click="vm.year(model.sub)">1
            ปี</a>
          <a class="button button-small" style="border:solid 1pt;border-radius:2px"
            ng-click="vm.manual(model.sub)">กำหนดเอง</a>

        </div>
      </div>

      <div class="card" style="margin: 10px 0px;">
        <ion-slide-box class="btn2" style="width: 100%;height: auto;margin-top:10px;" show-pager="false">
          <ion-slide>

            <h5 style="text-align:center">{{header}}</h5>

            <br>
            <canvas height="10" width="10" id="line" class="chart chart-line" chart-data="data" chart-labels="labels"
              chart-series="series" chart-options="options" chart-dataset-override="datasetOverride"
              chart-click="onClick" chart-colors="colors">
            </canvas>
          </ion-slide>


        </ion-slide-box>




      </div>

    </div>

    <div ng-if="vm.lsStatus == false" style="padding:10px;">

      <h4 style="text-align:center;">
        ยังไม่มีการสร้างพื้นที่ ไปที่หน้าพื้นที่เพาะปลูกเพื่อสร้างพื้นที่ และเชื่อมต่ออุปกรณ์
      </h4>
    
    </div> -->
    




    <script id="my-modaledit.html" type="text/ng-template">
      <ion-modal-view style="bottom:10%;border-raduius:10px;border-radius: 10px;">
        <ion-header-bar>
            <button type="button" class="button button-assertive button-clear" ng-click="closeModalEdit()">close</button>
          <h1 class="title" style="text-align:center">เลือกวันที่</h1>
        </ion-header-bar>
        <ion-content >
      
<div class="container" style="margin-top:10%">
          <div class="item item-avatar item-icon-right" >
            <img src="img/calendar.png">
            <h2 style="color:#036d8e">วันที่เริ่มค้นหา</h2>
            <p>{{editdata.date_start}}</p>
            <i class="icon ion-edit"  ng-click="vm.updatepickdate()"></i>
       
          </div>
          <div class="item item-avatar item-icon-right" >
            <img src="img/calendar.png">
            <h2 style="color:#036d8e">ถีงวันที่</h2>
            <p>{{editdata.date_end}}</p>
            <i class="icon ion-edit"  ng-click="vm.updatepickdateto()"></i>
       
          </div>
          <h5 style="margin-top: 10px;
          color: red;">*หากใส่วันที่เริ่มมากวันข้างหลัง ระบบจะสลับให้วันข้างหลังมากกว่าเสมอ</h5>
          <button type="button" class="button button-positive button-block " style="border-radius:10px;margin-top:20px" ng-click="vm.findManual (model.sub)">ค้นหา</button>
        </div>



        </ion-content>
      </ion-modal-view>
    </script>


  </ion-content>
</ion-view>