<ion-view hide-back-button="true">
    <ion-nav-buttons side="left">
        <button class="button button-clear ion-chevron-left" ng-click="vm.back()">
        Back</button>
    </ion-nav-buttons>
  <ion-nav-title> รายการอุปกรณ์
  </ion-nav-title>

  <ion-content>
    <!-- <img src="img/animate.gif"> -->
    <div class="list" ng-if="vm.status == true">
      <a class="item item-button-right" ng-repeat="x in data.result">
        <b>หมายเลขอุปกรณ์</b> : {{x.iot_id}}
        <p><b>พื้นที่ </b> : {{x.iot_farm}}</p>
        <p><b>{{x.farm_name}} </b>  </p>
        <p><b>โรงเรือน </b> : {{x.iot_sub_idd}}</p>

        <!-- <button type="button" class="button button-outline button-energized" style="right:70px"
          ng-click="openModalAc(x)">
          <i class="icon ion-more"></i>
        </button> -->
        <button type="button" class="button button-outline button-positive" ng-click="vm.iot(x)">
          <i class="icon ion-gear-b"></i>
        </button>

        <div style="    position: absolute;
        right: 10%;
        bottom: 20%;
        font-size: 16pt;" ng-if="x.iot_volt">{{x.iot_volt}} V</div>


        

        <!-- <div class="progress" style="    height: 40px;
        width: 100px;
        position: absolute;
        right: 0px;
        border-radius: 10px;
        background-color: #cccccc;
        position: absolute;
    bottom: 10px;
    right: 14px;
    ">
          <div class="progress-bar" role="progressbar" ng-style="mybattery" aria-valuenow="{{batteryLevel}}"
            aria-valuemin="0" aria-valuemax="100">{{batteryLevel}} %</div>
        </div> -->
      </a>

    </div>
    <!-- {{mybattery}} -->


    <div class="container">
      <h3 ng-if="vm.status == false" style="text-align: center;color:gray" ng-click="vm.refresh()">
        เกิดข้อผิดพลาดในการโหลดข้อมูลแตะเพื่อโหลดใหม่
        <i class="icon ion-refresh"></i>
      </h3>
    </div>
    <!-- 
    <button type="button" class="button button-balanced"ng-click="vm.colorBat(10)">10</button>
    <button type="button" class="button button-balanced"ng-click="vm.colorBat(30)">30</button>
    <button type="button" class="button button-balanced"ng-click="vm.colorBat(50)">50</button>
    <button type="button" class="button button-balanced"ng-click="vm.colorBat(100)">80</button> -->







    <!-- <button type="button" class="button"  ng-click="openModalDetail()">555</button> -->



    <!-- <script id="my-dayss.html" type="text/ng-template">

      <ion-modal-view style="bottom:10%;border-raduius:10px;border-radius: 10px;">
        <ion-header-bar>
            <button type="button" class="button button-assertive button-clear" ng-click="closeModal()">close</button>
          <h1 class="title" style="text-align:center" >กำหนดพื้นที่และอุปกรณ์</h1>

        </ion-header-bar>
        <ion-content >
          <div class="list " style="border-radius: 15px;">


            <a class="item ">
              <h2>หมายเลขอุปกรณ์ </h2>
              <p>{{vm.edit.iot_id}}</p>
            </a>
            <a class="item ">
              <h2>พื้นที่ </h2>
              <p>{{vm.edit.iot_farm}}</p>
            </a>
            <a class="item ">
              <h2>โรงเรือน</h2>
              <p>{{vm.edit.iot_sub_idd}}</p>
            </a>

      
        </ion-content>
      </ion-modal-view>
    </script> -->


  



  </ion-content>
</ion-view>