<ion-view hide-back-button="false" hide-nav-bar="true">
  <ion-nav-title><b style="font-size: 18px"> Agripro</b> </ion-nav-title>
  <ion-nav-buttons side="right">
    <!-- <button class="button ion-power btn-home" style="font-size: 20px;
                 color: #4c4c4c;" ng-click="vm.goback()"></button> -->
  </ion-nav-buttons>
  <style>
    @import url("https://fonts.googleapis.com/css?family=Prompt&display=swap");

    .bg-image {
      /* The image used */
      background-image: url("img/weather/bg-sky.jpg");
      /* background-image: url("img/weather/2.jpg"); */

      /* Add the blur effect */
      filter: blur(5px);
      -webkit-filter: blur(5px);

      /* Full height */
      height: 100%;

      /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .icon-weather {
      height: 5vh;
    }

    .header-block {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 10px;
      align-items: center;
    }
    .header-block-left {
      width: 40px;
      height: 40px;
      background-color: white;
      border-radius: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .header-block-right {
      padding: 10px;
      border-radius: 20px;
      display: flex;
      flex-direction: initial;
    }
  </style>
  <div class="bg-image"></div>

  <ion-content
    style="
      height: 100%;
      padding: env(safe-area-inset-top, 20px) env(safe-area-inset-right, 20px)
        env(safe-area-inset-bottom, 20px) env(safe-area-inset-left, 20px);
    "
  >
    <div class="header-block">
      <div>
        <div class="header-block-left" ng-click="goBack()">
          <i class="ico ion-chevron-left"></i>
        </div>
      </div>
      <div>
        <div class="card header-block-right" ng-click="modalShow()">
          <i class="icon ion-pin" style="margin-right: 10px"></i>พื้นที่ :
          {{farmSelected.farm_name}}
        </div>
      </div>
    </div>

    <div ng-if="isLoading" style="text-align: center">
      <ion-spinner class="spinner-positive"></ion-spinner>
    </div>

    <div ng-if="vm.temp">
      <div
        class="card"
        style="
          background: transparent;
          border: none;
          box-shadow: none;
          color: white;
        "
      >
        <div style="color: white; position: relative; text-align: center">
          <label style="font-size: 24px"> {{vm.temp.name}} </label>
        </div>
        <div style="margin-bottom: 20px" ng-if="vm.temp">
          <div
            style="display: flex; flex-direction: column; align-items: center"
          >
            <label style="text-align: center; font-size: small"
              >{{vm.temp.weather[0].description}}</label
            >
          </div>
        </div>
        <div style="align-self: center" ng-if="vm.temp.main.temp">
          <label style="font-size: 64px">
            {{vm.temp.main.temps}}
            <span style="font-size: 20pt; position: absolute">°C</span>
          </label>
        </div>
      </div>

      <div style="font-size: large; margin: 25px; color: white">{{vm.day}}</div>

      <ion-scroll direction="x" style="width: 100%">
        <style>
          .house {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 70px;
          }

          .houseActive {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 70px;
          }

          .scroll-bar-h .scroll-bar-indicator {
            opacity: 0%;
          }
        </style>
        <div>
          <div
            style="display: flex; justify-content: space-between; color: white"
          >
            <div
              ng-if="vm.forcase"
              ng-repeat="x in  vm.forcase.list | limitTo:10"
            >
              <div ng-class="x.sys.pod == 'd' ? 'house' : 'houseActive'">
                <label style="text-align: center">{{x.main.temps}} °</label>
                <img
                  ng-src="http://openweathermap.org/img/w/{{x.weather[0].icon}}.png"
                  style="height: 50px; width: 50px"
                />
                <label style="text-align: center">{{x.time}}</label>
              </div>
            </div>
          </div>
        </div>
      </ion-scroll>

      <div class="list" style="color: white">
        <div
          class="row"
          style="padding: 10px 0px 10px 0px; align-items: center"
        >
          <div class="col-4">
            <i><img class="icon-weather" src="img/weather/wind_1.png" /></i>
          </div>

          <div class="col-4" style="font-size: medium">ความเร็วลม</div>

          <div class="col-4" style="text-align: right; font-size: medium">
            {{vm.temp.wind.speed}} m/s
          </div>
        </div>

        <div
          class="row"
          style="padding: 10px 0px 10px 0px; align-items: center"
        >
          <div class="col-4">
            <i><img class="icon-weather" src="img/weather/hum_1.png" /></i>
          </div>

          <div class="col-4" style="font-size: medium">ความชื้น</div>

          <div class="col-4" style="text-align: right; font-size: medium">
            {{vm.temp.main.humidity}} %
          </div>
        </div>

        <div
          class="row"
          style="padding: 10px 0px 10px 0px; align-items: center"
        >
          <div class="col-4">
            <i><img class="icon-weather" src="img/weather/pres_1.png" /></i>
          </div>

          <div class="col-4" style="font-size: medium">ตวามดัน</div>

          <div class="col-4" style="text-align: right; font-size: medium">
            {{vm.temp.main.pressure | number}} hpa
          </div>
        </div>
      </div>

      <div class="list">
        <div
          class="item item-icon-right"
          style="background: transparent; color: white"
          ng-click="vm.DailyForecastgo('1','ข่าวเตือนภัยสภาพอากาศ')"
        >
          แจ้งเตือนสภาพอากาศ
          <i class="icon ion-ios-arrow-right"></i>
        </div>
        <div
          class="item item-icon-right"
          style="background: transparent; color: white"
          ng-click="vm.DailyForecastgo('3','พยากรอากาศ 24 ชั่วโมง')"
        >
          พยากรอากาศ 24 ชั่วโมง
          <i class="icon ion-ios-arrow-right"></i>
        </div>
      </div>
    </div>

    <br />
  </ion-content>

  <script id="my-farm.html" type="text/ng-template">
    <ion-modal-view>
        <ion-header-bar>
            <button type="button" class="button button-assertive button-clear" ng-click="closeModal()">ปิด</button>
          <h1 class="title" style="text-align:center">เลือกพื้นที่</h1>

        </ion-header-bar>
        <ion-content>
          <div class="item "  ng-click="selectCurrentPosition()">
            <div >
              <i class="icon ion-location"></i>
                <a style="font-weight: bold;
                font-size: large;">
                 ใช้ตำแหน่งปัจจุบัน

                </a>
              </div>
          </div>
          <div class="item item-avatar" ng-repeat="x in data.result" ng-if="status == true"      ng-click="selectFarm(x)">
            <img ng-if="x.imgpath" ng-src="{{x.imgpath}}" style="object-fit: contain;">
            <img ng-if="!x.imgpath" src="img/noimage1.jpg">

            <div style="    white-space: initial;
            overflow: hidden;
            text-overflow: ellipsis;">

              <div style="display: flex;
              justify-content: space-between;">
                <a style="    font-weight: bold;
                font-size: large;">
                  {{x.farm_name}}

                </a>
              </div>
            <p style="white-space: break-spaces;">{{x.address}}</p>

              <p><b>{{x.createname.mob_fname}} {{x.createname.mob_lname}}</b></p>
              <div style="margin-top: -3px;display: flex;
              align-items: baseline;
              justify-content: space-between;">
              </div>

            </div>

            <div >
              <img ng-src="{{k.standardicon}}" style="    width: 25px;
              height: 25px;" ng-repeat="k in x.standard">
            </div>
          </li>
        </div>

        </ion-content>
      </ion-modal-view>
  </script>
</ion-view>
