<ion-view hide-back-button="false" cache-view="false">
  <ion-nav-buttons side="left">
    <button
      class="button button-clear ion-chevron-left"
      ng-click="vm.goBack()"
      style="color: white; font-weight: 400;"
    >
      Back
    </button>
  </ion-nav-buttons>
  <ion-nav-title>สัปดาห์ </ion-nav-title>
  <style>
    /* ngIf animation */
    .animationIf.ng-enter,
    .animationIf.ng-leave {
      -webkit-transition: opacity ease-in-out 1s;
      -moz-transition: opacity ease-in-out 1s;
      -ms-transition: opacity ease-in-out 1s;
      -o-transition: opacity ease-in-out 1s;
      transition: opacity ease-in-out 1s;
    }
    .animationIf.ng-enter,
    .animationIf.ng-leave.ng-leave-active {
      opacity: 0;
    }
    .animationIf.ng-leave,
    .animationIf.ng-enter.ng-enter-active {
      opacity: 1;
    }
  </style>
  <ion-content style="background: white;" overflow-scroll="true">
    <div class="list"   ng-repeat="k in vm.meetinglist track by $index">
      <div class="item" style="margin: 10px 10px 0px 10px;
      border-radius: 20px;" >
        <div style="display: flex; justify-content: space-between;">
          <a style="font-size: x-large;">
            {{k.datenameth}}
          </a>
          <a style="font-size: x-large;" ng-click="k.check = ! k.check" ng-click="showhide(k)">
            {{k.detail.length >= 1 ?  k.detail.length + ' รายการ': 'ไม่มีรายการ'}}
            <i class="icon ion-arrow-down-b" ng-if="k.check == true && k.detail.length >= 1"></i>
            <i class="icon ion-arrow-right-b" ng-if="k.check == false && k.detail.length >= 1"></i>
          </a>
        </div>
  
        <!-- <p>17 มิถุนายน 2562</p> -->


        <div
        ng-if="k.check == true"
        class="item "
        ng-repeat="x in k.detail track by $index"
        style="margin:10px 0px 10px 0px; border-radius: 20px; border-left: solid green;"
        ng-style=" 
       x.status == 'approve' &&  {'border-left': 'solid green'} || 
       x.status == 'reject' &&  {'border-left': 'solid red'} || 
       x.status == 'finish' &&  {'border-left': 'solid blue'} || {'border-left': 'solid black'}"
       ng-click="openModalDetail(x)">
        <!-- <div style="display: flex; justify-content: space-between;"> -->
        <div style="white-space: initial;">

          <a>{{x.times}} : {{x.meet_desc}}</a>
          <!-- <a
            style="position: absolute; right: 10px;"
            ng-style=" 
       x.status == 'approve' &&  {'color': 'green'} || 
       x.status == 'reject' &&  {'color': 'red'}  || 
       x.status == 'finish' && {'color': 'blue'}  || {'color': 'black'} "
            >{{x.status}}</a
          > -->
        </div>

        <!-- <div>ผู้ตรวจ : {{x.name}} (Promoter)</div> -->
      </div>
      </div>

    
    </div>

    <br>
    <br>
    <br>
    <br>
   

  </ion-content>

  <!-- <div style="position: absolute; bottom: 0px; width: 100%; background: white;">
    <div style="text-align: center; padding-left: 10px; padding-right: 10px;">
      <button
        type="button"
        class="button button-balanced button-block"
        ng-click="vm.meeting2()"
      >
      เพิ่มการนัดตรวจ
      </button>
    </div>
  </div> -->

  <script id="list_map.html" type="text/ng-template">
    <ion-modal-view>
            <ion-header-bar style="text-align:center;background:white">

              <h1 class="title" >รายการแปลง</h1>
              <button type="button" class="button button-assertive button-clear " ng-click="closeModalListmap()">Close</button>
            </ion-header-bar>
            <ion-content  style="background:#f5f5f5">

              <div class="card" style="height:110px;display: flex;
              flex-flow: row wrap;" ng-repeat="k in subfarm" ng-click="vm.selectSubBefore(k,$index)">

            <div style="height: 100%;
                      width: 30%;">
              <!-- <img style="height: 100%;
                              width: 100%;
                              padding: 4px;
                              max-width:200px;" src=""> -->
                              <div id="{{$index}}" class="map_list"></div>
            </div>

            <div style="height: 100%; width: 70%;display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;" >

              <div style="font-weight:bold;font-weight: bold;
              font-size: 18px;">พื้นที่ {{k.farm_name}} แปลงที่ {{k.sup_sub_id}}</div>
              <div> {{k.sub_area_farm}} ไร่ {{k.sub_area_work}} งาน {{k.sub_area_wah}} ตารางวา</div>
              <div style="    text-align: center;
              padding: 5px;">บ้านเลขที่ {{k.farm_village_no}} แขวง {{k.farm_district}} เขต {{k.farm_amphur}} จังหวัด {{k.farm_province}}</div>



            </div>

          </div>

            </ion-content>
          </ion-modal-view>
  </script>

  <script id="my-detail.html" type="text/ng-template">
    <ion-modal-view>
              <ion-header-bar>
                  <button type="button" class="button button-assertive button-clear" ng-click="closeModalDetail()">close</button>
                <h1 class="title" style="text-align:center">{{vm.detail.datedesc}}</h1>
                <!-- <button type="button" class="button button-positive button-clear" ng-click="closeModalItem()">เลือกทั้งหมด</button> -->

              </ion-header-bar>
              <ion-content style="background-color: #fafafa">
                <style>
                        .modal-open{
                          pointer-events: all;
                        }
                </style>

<div class="list">

  <a class="item item-icon-left" >
    <i class="icon ion-paper-airplane" style="color:green"></i>
    ส่งจาก : {{vm.detail.fromname}} 
  </a>
  <a class="item item-icon-left" >
    <i class="icon ion-clock" style="color:green"></i>
    เวลานัด : {{vm.detail.times}} 
  </a>
  <a class="item item-icon-left" >
    <i class="icon ion-pin" style="color:green"></i>
    พื้นที่ : {{vm.detail.farm_name}} / ID : {{vm.detail.meet_wo_lot}} 
  </a>
</div>

<div class="item"> 
  <div style="font-weight:bold">รายละเอียด</div>

  <label style="white-space: break-spaces;">{{vm.detail.meet_desc}}</label>
</div>




              </ion-content>
            </ion-modal-view>
  </script>
</ion-view>
