<ion-view hide-back-button="true" cache-view="false">
  <ion-nav-buttons side="left">
    <button class="button button-clear ion-chevron-left" ng-click="vm.goBack()" style="color:white;font-weight: 400;">
      Back</button>
  </ion-nav-buttons>
  <ion-nav-title>รายการนัดวันนี้ </ion-nav-title>
  <ion-content style="background: white;">
    <div class="list">
      <div class="item" ng-repeat="x in list.result" style="margin-bottom: 10px;
      border-left: solid green;" ng-style=" 
       x.status == 'approve' &&  {'border-left': 'solid green'} || 
       x.status == 'reject' &&  {'border-left': 'solid red'} || 
       x.status == 'finish' &&  {'border-left': 'solid blue'} || {'border-left': 'solid black'}" ng-click="openModalDetail(x)">
       <div style="display: flex; justify-content: space-between;">
        <a style="white-space: break-spaces;">{{x.times}} : {{x.meet_desc}}</a>
        <a
          style="position: absolute; right: 10px;"
          ng-style=" 
     x.status == 'approve' &&  {'color': 'green'} || 
     x.status == 'reject' &&  {'color': 'red'}  || 
     x.status == 'finish' && {'color': 'blue'}  || {'color': 'black'} "
          >{{x.status}}</a
        >
      </div>

      <!-- <a style="font-size: small;color:gray" ng-if="!x.meet_status">รายการนี้ยังไม่ได้รับการอนุมัติ</a> -->

      <!-- <div><a>ผู้ตรวจ : {{x.vd_sort}} (Promoter)</a></div> -->
      </div>
    </div>

    <div  ng-if="list.status == false" style="text-align: center;
    font-size: x-large;
    color: gray;">
      ไม่มีรายการนัดในวันนี้
    </div>

  </ion-content>



  <script id="list_map.html" type="text/ng-template">
    <ion-modal-view>
            <ion-header-bar style="text-align:center;background:white">

              <h1 class="title" >รายการแปลง</h1>
              <button type="button" class="button button-assertive button-clear " ng-click="closeModalListmap()">Close</button>
            </ion-header-bar>
            <ion-content  style="background:#f5f5f5">

              <div class="card" style="height:110px;display: flex;
              flex-flow: row wrap;" ng-repeat="k in subfarm" ng-click="vm.selectSubBefore(k,$index)">

            <div style="height: 100%;
                      width: 30%;">
              <!-- <img style="height: 100%;
                              width: 100%;
                              padding: 4px;
                              max-width:200px;" src=""> -->
                              <div id="{{$index}}" class="map_list"></div>
            </div>

            <div style="height: 100%; width: 70%;display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;" >

              <div style="font-weight:bold;font-weight: bold;
              font-size: 18px;">พื้นที่ {{k.farm_name}} แปลงที่ {{k.sup_sub_id}}</div>
              <div> {{k.sub_area_farm}} ไร่ {{k.sub_area_work}} งาน {{k.sub_area_wah}} ตารางวา</div>
              <div style="    text-align: center;
              padding: 5px;">บ้านเลขที่ {{k.farm_village_no}} แขวง {{k.farm_district}} เขต {{k.farm_amphur}} จังหวัด {{k.farm_province}}</div>



            </div>

          </div>

            </ion-content>
          </ion-modal-view>
  </script>

  <script id="my-detail.html" type="text/ng-template">
    <ion-modal-view>
              <ion-header-bar>
                  <button type="button" class="button button-assertive button-clear" ng-click="closeModalDetail()">close</button>
                <h1 class="title" style="text-align:center">{{vm.detail.datedesc}}</h1>
                <!-- <button type="button" class="button button-positive button-clear" ng-click="closeModalItem()">เลือกทั้งหมด</button> -->

              </ion-header-bar>
              <ion-content style="background-color: #fafafa">
                <style>
                        .modal-open{
                          pointer-events: all;
                        }
                </style>

<div class="list">

  <a class="item item-icon-left" >
    <i class="icon ion-paper-airplane" style="color:green"></i>
    ส่งจาก : {{vm.detail.fromname}} 
  </a>
  <a class="item item-icon-left" >
    <i class="icon ion-clock" style="color:green"></i>
    เวลานัด : {{vm.detail.times}} 
  </a>
  <a class="item item-icon-left" >
    <i class="icon ion-pin" style="color:green"></i>
    พื้นที่ : {{vm.detail.farm_name}} / ID : {{vm.detail.meet_wo_lot}} 
  </a>
</div>

<div class="item"> 
  <div style="font-weight:bold">รายละเอียด</div>

  <label style="white-space: break-spaces;">{{vm.detail.meet_desc}}</label>
</div>




              </ion-content>
            </ion-modal-view>
</script>
</ion-view>
