<ion-view hide-back-button="true" cache-view="false">
  <ion-nav-buttons side="left">
    <button
      class="button button-clear ion-chevron-left"
      ng-click="vm.goBack()"
      style="color: white; font-weight: 400"
    >
      Back
    </button>
  </ion-nav-buttons>
  <ion-nav-title> บันทึกการเจริญเติบโต </ion-nav-title>
  <ion-nav-buttons side="right">
    <button class="button button-positive" ng-click="vm.button()">Scan</button>
  </ion-nav-buttons>
  <ion-content style="">
    <style type="text/css">
      div.img-resize img {
        width: 100%;
        height: auto;
        object-fit: cover;
        aspect-ratio: 1 / 1;
      }

      div.img-resize {
        width: 100%;
        height: auto;
        overflow: hidden;
        text-align: center;
        object-fit: cover;
        aspect-ratio: 1 / 1;
      }

      .slider-pager {
        position: absolute;
        bottom: 20px;
        z-index: 1;
        width: 100%;
        height: 15px;
        text-align: center;
        display: none;
      }
      .image-desc {
        height: 80px;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        z-index: 99999;
        bottom: 0;
        border-radius: 10px 10px 0px 0px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    </style>

    <div class="list" ng-if="vm.data.status == true">
      <div class="item item-button-right">
        <div style="font-size: larger">{{vm.data.result[0].pt_desc1}}</div>
        <p>
          <a ng-if="vm.data.result[0].um1"
            >{{vm.data.result[0].um1}}ที่ :{{vm.data.result[0].rmks1}}
          </a>
          <a ng-if="vm.data.result[0].um2"
            >{{vm.data.result[0].um2}}ที่ : {{vm.data.result[0].rmks2}}</a
          >
        </p>

        <button
          class="button button-stable"
          ng-click="vm.share()"
          style="top: 10px; height: 70%"
        >
          แชร์
        </button>
      </div>

      <div class="item item-body">
        <div style="font-weight: bold; font-size: large; padding-bottom: 16px">
          รายละเอียด
        </div>
        <div style="display: flex; flex-direction: row; flex-flow: wrap">
          <div style="width: 50%">
            <a style="font-weight: bold">หมวด</a> :
            <a>{{vm.data.result[0].description}} </a>
          </div>
          <div style="width: 50%">
            <a style="font-weight: bold">หมวดย่อย</a> :
            <a>{{vm.data.result[0].pt_group_desc}} </a>
          </div>
          <div style="width: 50%">
            <a style="font-weight: bold">พันธุ์</a> :
            <a>{{vm.data.result[0].comments}} </a>
          </div>
          <div style="width: 50%">
            <a style="font-weight: bold">LOT</a> :
            <a>{{vm.data.result[0].ld_lot}} </a>
          </div>
          <div style="width: 50%">
            <a style="font-weight: bold">พื้นที่</a> :
            <a>{{vm.data.result[0].farm_name}}</a>
          </div>
          <div style="width: 50%">
            <a style="font-weight: bold">ที่อยู่</a> :
            <a>
              {{vm.data.result[0].vdad_line1}} {{vm.data.result[0].vdad_line2}}
            </a>
          </div>

          <div style="width: 50%">
            <a style="font-weight: bold">ผู้ดูแล</a> :
            <a> {{vm.data.result[0].vd_sort}} </a>
          </div>

          <div style="width: 50%">
            <a style="font-weight: bold">รอบปัจจุบัน</a> :
            <a> {{vm.data.result[0].tr_lot}} </a>
          </div>
        </div>
      </div>

      <div class="item item-icon-right" ng-click="vm.openMap()">
        <div style="color: black">แผนที่,พิกัด</div>
        <i class="icon ion-location"> </i>
      </div>

      <div ng-if="vm.data.status == true">
        <div
          style="
            display: flex;
            justify-content: space-between;
            padding: 10px;
            align-items: center;
          "
        >
          <div style="font-size: large; font-weight: bold">
            ข้อมูลการบันทึกรูปภาพ
          </div>
          <div>
            <button
              class="button button-positive button-small"
              ng-click="vm.record()"
            >
              เพิ่มรูปภาพ
            </button>
          </div>
        </div>
      </div>

      <ion-slide-box
        show-pager="true"
        active-slide="activeSlide"
        style="text-align: center; height: 100%; width: 100%"
        ng-if="vm.data.status == true"
      >
        <ion-slide ng-repeat="x in vm.pic">
          <div class="img-resize">
            <img
              id="image{{$index}}"
              class="img-responsive{{$index}}"
              ng-click="fullImage(x)"
              ng-src="{{x.path}}"
            />
            <div class="image-desc">
              <div
                style="
                  display: flex;
                  flex-direction: row;
                  justify-content: space-between;
                  font-size: small;
                  color: white;
                  width: 100%;
                  align-items: center;
                "
              >
                <div>{{x.pic_date}}</div>

                <div style="display: flex; flex-direction: row">
                  <div
                    ng-click="rotate(90)"
                    style="
                      background-color: rgba(100, 100, 79, 0.6);
                      border-radius: 20px;
                      padding: 4px;
                      font-size: small;
                      margin-right: 5px;
                    "
                  >
                    หมุน <i class="icon ion-arrow-return-left"></i>
                  </div>

                  <div
                    ng-click="vm.deletePic($event)"
                    style="
                      background-color: rgba(255, 155, 79, 0.6);
                      border-radius: 20px;
                      padding: 4px;
                      font-size: small;
                      margin-right: 5px;
                    "
                  >
                    ลบภาพ <i class="icon ion-trash-a"></i>
                  </div>
                  <div
                    ng-click="vm.edit(x)"
                    style="
                      background-color: rgba(255, 255, 100, 0.6);
                      border-radius: 20px;
                      padding: 4px;
                      font-size: small;
                      margin-right: 5px;
                    "
                  >
                    แก้ไข <i class="icon ion-edit"></i>
                  </div>
                </div>
              </div>

              <div
                style="
                  color: white;
                  width: 100%;
                  white-space: nowrap;
                  font-weight: bold;
                  font-size: medium;
                  text-overflow: ellipsis;
                  overflow: hidden;
                "
              >
                {{x.pic_desc ? x.pic_desc : 'ไม่มีรายละเอียดการบันทึกข้อมูล'}}
              </div>
            </div>

            <!-- <div class="list ">
              <div class="item">
                <div style="font-weight: bold;font-size: large;text-align: left;    display: flex;
                    justify-content: space-between;">
                  รายละเอียด <a ng-click="vm.edit(x)"> แก้ไข <i class="icon ion-edit"></i></a>
                </div>
                <p style="text-align: left;">{{x.pic_date}}</p>





                <div style="text-align: left;margin-top:20px;word-wrap: break-word;    white-space: pre-wrap;">
                  {{x.pic_desc}}</div>
              </div>
            </div> -->
          </div>
        </ion-slide>

        <ion-slide ng-if="!vm.pic">
          <div class="img-resize">
            <img
              ng-src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/1200px-No_image_available.svg.png"
            />
          </div>
        </ion-slide>
      </ion-slide-box>
    </div>

    <!-- <div
        ng-if="vm.list.status == true && !vm.data"
        style="    text-align: center;
      font-size: large;margin-top:10px"
        ng-click="showMore()"
      >
        แสดงเพิ่มเติม
      </div> -->
    <br />

    <script id="my-map.html" type="text/ng-template">
      <ion-modal-view>
            <ion-header-bar>
                <button type="button" class="button button-assertive button-clear" ng-click="closeModalMap()">close</button>
              <h1 class="title" style="text-align:center">map</h1>

              <button type="button" class="button button-positive  button-clear" ng-click="vm.save()" >Save</button>
            </ion-header-bar>
            <ion-content  class="wrapper_all" scroll="false">

              <style>
                  .modal-open{
                    pointer-events: all;
                  }

                  .top_float {
            /* position:fixed; */
            cursor: pointer;
            width: 68px;
            height: 68px;
            bottom: 120px;
            right: 40px;

            color: #FFF;
            border-radius: 50px;
            border: none;
            text-align: center;
            font-size: 34px;
            box-shadow: 2px 2px 3px 1px #999;
            z-index: 100;
            outline: 0 !important;
          }



                </style>

          <!-- <div class="item" style="padding: 0;position:absolute">
            <div layout="column" layout-align="center center">
              <md-select placeholder="เลือก" ng-model="selected"
               ng-change="vm.subChange(selected)"
                style="width: 95%;">
                <md-option ng-value="k" ng-repeat="k in subfarm" >{{k.farm_name}} -
                  โรงเรือนที่ {{k.sup_sub_id}} </md-option>
              </md-select>
            </div>
          </div> -->

        <div id="maps"></div>


        <button type="button" class="button icon ion-pinpoint top_float" ng-click="vm.here()"
        style="text-align: center;position:absolute;z-index:2;bottom:5%;left:10px;margin-left:10px;color:black"></button>

            </ion-content>
          </ion-modal-view>
    </script>

    <script id="my-edit.html" type="text/ng-template">
      <ion-modal-view>
          <ion-header-bar>
              <button type="button" class="button button-assertive button-clear" ng-click="closeModalEdit()">close</button>
            <h1 class="title" style="text-align:center">แก้ไข</h1>

            <button type="button" class="button button-positive  button-clear" ng-click=" vm.enterEdit()" >Save</button>
          </ion-header-bar>
          <ion-content  >

            <div class="img-resize">
              <img
                ng-src="{{vm.dataEdit.path}}"
              />
            </div>

            <div class="list">
              <label class="item item-input item-stacked-label">
                <div style="font-weight: bold;
                font-size: large;
                text-align: left;
                display: flex;
                justify-content: space-between;">
           รายละเอียด
                </div>


                <input type="text" ng-model="vm.dataEdit.pic_desc" placeholder="รายละเอียด">
              </label>

            </div>
          </ion-content>
        </ion-modal-view>
    </script>
  </ion-content>
</ion-view>
