<ion-view hide-back-button="false" cache-view="false">
  <ion-nav-buttons side="left">
    <button  class="button button-clear ion-chevron-left" ui-sref="app.farming" style="font-weight: 400;"> Back</button>
  </ion-nav-buttons>
  <ion-nav-title> รายการ </ion-nav-title>
  <ion-nav-buttons side="right">
    <button class="button button-positive" ng-click="vm.button()">Scan</button>
  </ion-nav-buttons>
  <ion-content >
    <style type="text/css">
      div.img-resize img {
        width: 100%;
        height: auto;
      }

      div.img-resize {
        width: 100%;
        height: auto;
        overflow: hidden;
        text-align: center;
      }
      .slider-pager {
        position: absolute;
        bottom: 20px;
        z-index: 1;
        width: 100%;
        height: 15px;
        text-align: center;
        display: none;
      }
      .spinner svg {
        width: 50px !important;
        height: 50px !important;
      }
    </style>


    <div class="list " ng-if="vm.data.status !== true">

      <div class="list list-inset">
        <label class="item item-input">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="text" placeholder="ค้นหา" ng-model="searchText">
        </label>
      </div>

      <div
        class="item"
        ng-repeat="x in vm.list.result | filter:searchText"
        ng-click="vm.clickList(x)"
      >
      <div style="display: flex;flex-direction: row;justify-content: space-between;"><div>{{x.pt_desc1}}</div> <div>{{x.pt_um}} {{x.ld_rmks}}</div></div>

        <p>
          <a> พื้นที่ : </a> <a>{{x.farm_name}} </a> 
        </p>
      </div>
    </div>


    <div style="text-align: center;margin-top:20px" ng-hide="vm.status == true || vm.status == false">
      <ion-spinner icon="spiral"></ion-spinner>
    </div>

    <div ng-if="vm.status == false" style="text-align:center">ไม่พบรายการ</div>

    <br />

  </ion-content>
</ion-view>
