<ion-view hide-back-button="false" cache-view="true">
  <ion-nav-title> บันทึกการเจริญเติบโต
  </ion-nav-title>

  <ion-content>
    <style type="text/css">
       div.img-resize img {
        width: 100%;
        height: auto;
      }

      div.img-resize {
        width: 100%;
        height: auto;
        overflow: hidden;
        text-align: center;
        aspect-ratio: 1/1;
      }
      .slider-pager {
        position: absolute;
        bottom: 20px;
        z-index: 1;
        width: 100%;
        height: 15px;
        text-align: center;
        display: none;
      }

    </style>


    <div class="list">
      <div class="item item-button-right">
        เลือกรูปภาพ
        <button class="button button-positive" ng-click="vm.addPic()">
          <i class="icon ion-camera"></i>
        </button>
        <button class="button button-positive" ng-click="vm.selectPic()" style="right: 70px;">
          <i class="icon ion-image"></i>
        </button>
      </div>



    </div>

    

    <div  ng-if="image.length > 0">
      
      <ion-slide-box
        show-pager="true"
        active-slide="activeSlide"
        style="text-align:center;height:100%;width:100%;margin-top:20px"
      
      >
        <ion-slide ng-repeat="x in image track by $index">
          <div style="text-align: right;
          margin-right: 5%;
          position: absolute;
          right: 0px;">
          <button type="button" class="button button-assertive icon ion-trash-a" ng-click="vm.delete($index)" style="margin-bottom: 20px;"></button>
          </div>
          <div class="img-resize">
            <img ng-src="{{x.img}}" />
        
          </div>
          <div class="list">

            <label class="item item-input item-stacked-label">
              <span class="input-label" style="    color: black;
              font-weight: bold;">รายละเอียด</span>
      
              <textarea rows="10" type="text" placeholder="รายละเอียด" maxlength="300" ng-model="x.desc"></textarea>
            </label>
        </ion-slide>
      </ion-slide-box>

    </div>


      <div class="item" style="border :none">
        <button class="button button-block button-positive " ng-click="vm.pushPic($event)">บันทึก</button>
      </div>











  </ion-content>
</ion-view>
