<ion-view hide-back-button="false">
  <ion-nav-title>รายละเอียดการเพาะปลูก </ion-nav-title>

  <ion-content>
    <div style="padding: 15px; border-radius: 10px">
      <div style="display: flex; justify-content: space-between">
        <div style="display: flex; justify-content: flex-start">
          <div style="font-weight: bold">รายการปลูก</div>
          :
          <div style="margin-left: 5px">{{wo.pt_desc1}}</div>
        </div>

        <div style="font-weight: bold">ID : {{wo.wo_lot}}</div>
      </div>

      <div style="display: flex; justify-content: flex-start">
        <div style="font-weight: bold">พื้นที่</div>
        :
        <div style="margin-left: 5px">{{wo.farm_name}}</div>
      </div>

      <div style="display: flex; justify-content: flex-start">
        <div style="font-weight: bold">วันที่เริ่ม</div>
        :
        <div style="margin-left: 5px">{{wo.rel_date}} - {{wo.due_date}}</div>
      </div>
      <div style="display: flex; justify-content: flex-start">
        <div style="font-weight: bold">จำนวน</div>
        :
        <div style="margin-left: 5px">{{wo.wo_qty_ord}} {{wo.pt_um}}</div>
      </div>

      <div style="text-align: center; margin-top: 10px">
        <button
          class="button button-balanced button-block"
          ng-click="vm.endCrop()"
        >
          สิ้นสุดการเพาะปลูก
        </button>
      </div>

      <div
        style="
          margin-top: 20px;
          font-size: large;
          font-weight: bold;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        "
      >
        <div>รายการต้น</div>
        <div style="color: #387ef5" ng-click="vm.add()">เพิ่ม / แก้ไข</div>
      </div>
    </div>

    <div class="list">
      <a class="item " ng-repeat="x in treeAdd track by $index">
        <div> {{x.pt_desc1}} {{x.pt_um}} {{x.ld_rmks}}</div>
        <p> {{x.ld_lot}}</p>


      </a>
    </div>
  </ion-content>
</ion-view>
