<ion-view hide-back-button="false" cache-view="true">
  <ion-nav-title>รายละเอียดการเพาะปลูก </ion-nav-title>

  <ion-content >

        <div
          class="card"
          style=" white-space: initial;padding: 15px;border-radius: 10px;"
        >
          <div style="display: flex; justify-content: space-between">
            <div style="display: flex; justify-content: flex-start">
              <div style="font-weight: bold">รายการปลูก</div>
              :
              <div style="margin-left: 5px">{{wo.pt_desc1}}</div>
            </div>
  
            <div style="font-weight: bold">ID : {{wo.wo_lot}}</div>
          </div>
  
          <div style="display: flex; justify-content: flex-start">
            <div style="font-weight: bold">พื้นที่</div>
            :
            <div style="margin-left: 5px">{{wo.farm_name}}</div>
          </div>
  
          <div style="display: flex; justify-content: flex-start">
            <div style="font-weight: bold">วันที่เริ่ม</div>
            :
            <div style="margin-left: 5px">{{wo.rel_date}} - {{wo.due_date}}</div>
          </div>
          <div style="display: flex; justify-content: flex-start">
            <div style="font-weight: bold">จำนวน</div>
            :
            <div style="margin-left: 5px">{{wo.wo_qty_ord}} {{wo.pt_um}}</div>
          </div>
      </div>
    </ion-content>
</ion-view>
