<ion-view hide-back-button="false" cache-view="false">
  <ion-nav-title>รายละเอียดการเพาะปลูก </ion-nav-title>

  <ion-content>
    <div style="padding: 15px; border-radius: 10px">
      <div style="display: flex; justify-content: space-between">
        <div style="display: flex; justify-content: flex-start">
          <div style="font-weight: bold">รายการปลูก</div>
          :
          <div style="margin-left: 5px">{{wo.pt_desc1}}</div>
        </div>

        <div style="font-weight: bold">ID : {{wo.wo_lot}}</div>
      </div>

      <div style="display: flex; justify-content: flex-start">
        <div style="font-weight: bold">พื้นที่</div>
        :
        <div style="margin-left: 5px">{{wo.farm_name}}</div>
      </div>

      <div style="display: flex; justify-content: flex-start">
        <div style="font-weight: bold">วันที่เริ่ม</div>
        :
        <div style="margin-left: 5px">{{wo.rel_date}} - {{wo.due_date}}</div>
      </div>
      <div style="display: flex; justify-content: flex-start">
        <div style="font-weight: bold">จำนวน</div>
        :
        <div style="margin-left: 5px">{{wo.wo_qty_ord}} {{wo.pt_um}}</div>
      </div>

      <div
        style="
          margin-top: 20px;
          font-size: large;
          font-weight: bold;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        "
      >
        <div>รายการที่ลงปลูก ( {{items.length}} )</div>
        <div style="color: #387ef5" ng-click="vm.add()">เพิ่ม</div>
      </div>
    </div>

    <div class="list">
      <a
        class="item"
        ng-repeat="x in items track by $index"
        ng-click="vm.clickList(x)"
      >
        <div
          style="
            display: flex;
            flex-direction: row;
            justify-content: space-between;
          "
        >
          <div>{{x.pt_desc1}}</div>
          <div>{{x.pt_um}} {{x.ld_rmks}}</div>
        </div>
        <p>{{x.ld_lot}}</p>
      </a>
    </div>

    <div
      style="color: gray; text-align: center; padding: 50px"
      ng-if="items.length == 0 "
    >
      ยังไม่มีรายการที่ลงปลูก โปรดเลือกรายการเพื่อลงปลูกในรายการนี้
    </div>




    
        <!-- <div style="display: flex; justify-content: space-between">
          <div style="display: flex; justify-content: flex-start">
            <div style="font-weight: bold">รายการปลูก</div>
            :
            <div style="margin-left: 5px">{{x.pt_desc1}}</div>
          </div>

          <div style="font-weight: bold">ID : {{x.wo_lot}}</div>
        </div>

        <div style="display: flex; justify-content: flex-start">
          <div style="font-weight: bold">พื้นที่</div>
          :
          <div style="margin-left: 5px">{{x.farm_name}}</div>
        </div>

        <div style="display: flex; justify-content: flex-start">
          <div style="font-weight: bold">วันที่เริ่ม</div>
          :
          <div style="margin-left: 5px">{{x.rel_date}} - {{x.due_date}}</div>
        </div>
        <div style="display: flex; justify-content: flex-start">
          <div style="font-weight: bold">จำนวน</div>
          :
          <div style="margin-left: 5px">{{x.wo_qty_ord}} {{x.pt_um}}</div>
        </div>-->
      </div> 
    </div>

    <div style="height: 100px"></div>

    
  </ion-content>
  <div
    style="
      text-align: center;
      margin-top: 10px;
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 0px 10px 0px 10px;
      background-color: white;
    "
  >
    <button
      class="button button-assertive button-block"
      ng-click="vm.endCrop()"
    >
      ย้ายไปรอบใหม่
    </button>
  </div>

  <script id="end-wo.html" type="text/ng-template">
    <ion-modal-view>
      <style>
            .modal-open {
                      pointer-events: all;
                    }
        .container-flex{
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding:0px 30px 0px 30px
        }
      </style>
      <ion-header-bar style="text-align:center;">
        <h1 class="title" >เลือกรายการใหม่ที่ต้องการย้าย</h1>
        <button type="button" class="button button-assertive button-clear " ng-click="hideModal()">ปิด</button>
      </ion-header-bar>

      <ion-content >
        <div style="color: red;text-align:center;font-weight:bold;padding:20px">หมายเหตุ : การย้ายไปยังรอบใหม่จะปิดรอบการเพาะปลูกในปัจจุบัน และทำการย้ายรายการที่ลงปลูกไปยังรอบใหม่ ผู้ใช้จะไม่สามารถบันทึกกิจกรรมของรอบเก่าได้ </div>

       
        <div class="list">
          <div
            class="item item-button-right"
            style="margin-bottom: 10px; white-space: initial"
           
            ng-repeat="x in vm.list.result track by $index"
          >
          <div style="font-weight: bold;">
    
          ID : {{x.wo_lot}} - {{x.pt_desc1}}
        </div>
    
    
            <button class="button button-positive"  ng-click="selectWo(x)">
              ย้าย 
              <i class="icon ion-checkmark-round"></i>
            </button>

      </ion-content>
    </ion-modal-view>
  </script>
</ion-view>
