<ion-view hide-back-button="false">
  <ion-nav-title>เลือกรายการเพาะปลูก (2/4)
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <!-- <button class="icon ion-levels " ng-click="toggleRight()" ng-hide="isOpenRight()"></button> -->
  </ion-nav-buttons>
  <ion-content  style="height: auto;">

    <style>
      .scroll {
        height: 100%;
      }
      .list{
        margin-bottom: 0px;
      }
    </style>

  

      
      <div class="list" >

        <div class="item item-divider" >
          เลือกรายการ
        </div>
      
        <div class="item" href="" ng-click="vm.save(x)" ng-repeat="x in crop.result" style="white-space: initial;">
          <div style="font-weight: bold;">
            {{x.pt_part}}
          </div>
          <div>
            {{x.pt_desc1}}
          </div>
        </div>
    
   
      </div>
      

  
  </ion-content>
</ion-view>