<ion-view hide-back-button="false" hide-nav-bar="false" cache-view="false">
  <!-- <ion-nav-buttons side="left">
    <button
    class="button button-clear ion-chevron-left"
    ng-click="vm.goBack()"
    style="font-weight: 400; color: white;"
  >
    Back
  </button>
  </ion-nav-buttons> -->
  <ion-nav-title
    ><b style="font-size: 18px;">บัญชี-รายการขาย</b>
  </ion-nav-title>

  <ion-content style="background-color: #fafafa;">
    <style>
      .dp-flex{
        display: flex;
        justify-content: space-between;
      }
    </style>

<div class="item">
  <!-- <img ng-src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSkhV4RQYCiIdUEx--2h-gL0iAFX5S-t0ojKg&usqp=CAU"> -->
  <div style="font-weight:bold;text-align: center;font-size: large;" >
    <a>
      {{vm.item.lsad_name}}
    </a>
    </div>

          <p  style="text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;text-align: center;">
          {{vm.item.address}}
            </p>
            <p  style="text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;text-align: center;">
          พื้นที่ : {{vm.item.farm_name}}
              </p>

  


</div>

    <div class="item">
      <!-- <div class="dp-flex">
        <a>สถานะ</a><a><span ng-if="vm.detail.mim_status == 'CONFIRM'"> <i style="color:green" class="icon ion-checkmark-circled"></i></span> {{vm.detail.ml_status_desc}}</a>
      </div> -->
      <div class="dp-flex"><a>เลขที่เอกสาร</a><a>{{vm.item.wt_ref}}</a></div>
      
      <div class="dp-flex">
        <a>วันที่-เวลาเอกสาร</a><a>{{vm.item.subdatedesc}} {{vm.item.time}}</a>
      </div>
      <div class="dp-flex">
        <a>ชื่อ</a
        ><a>{{vm.item.farmer_name}}</a>
      </div>
      <div class="dp-flex">
        <a>เบอร์โทรศัพท์</a><a>{{vm.item.frm_tel}}</a>
      </div>



    </div>

    <!-- <div class="item" style="margin-top: 10px;">
      <div class="dp-flex">
        <a style="font-weight: bold; font-size: larger;">ข้อมูลการจัดส่ง</a><a></a>
      </div>
      <div class="dp-flex">
        <a>ชื่อผู้รับ</a
        ><a>{{vm.detail.mim_name}}</a>
      </div>
      <div class="dp-flex">
        <a>เบอร์โทรศัพท์</a><a>{{vm.detail.mim_tel}} </a>
      </div>
      <div class="dp-flex">
        <a>ที่อยู่</a
        ><a
          style="
            width: 80%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            text-align: right;
          "
          >{{vm.detail.mim_address}}</a
        >
      </div>

      <div class="dp-flex">
        <a>จัดส่งโดย</a><a>{{vm.detail.logis_name}} </a>
      </div>
    </div> -->

    <div class="item" style="margin-top: 10px;">
      <div class="dp-flex">
        <a style="font-weight: bold; font-size: larger;">รายการ</a><a></a>
      </div>

      <div   class="dp-flex" style="margin-bottom: 10px;padding-bottom: 10px; border-bottom: solid 1.5pt #fafafa;font-weight: bold;" >

        <a style="width:40%"  href="">
          <div>
            รายการ
          </div>
   
        </a>

        <a style="flex:1;text-align: center;"  href="">
          <div>
            จำนวน
          </div>
   
        </a>
        <a style="flex:1;text-align: center;"  href="">
            <div>
              หน่วย
            </div>
     
          </a>
        <a style="width:30%;text-align: right;"  href="">
            <div>
              ราคาต่อหน่วย
            </div>
     
          </a>

   
     
      </div>


      <div   class="dp-flex" style="display: block;margin-bottom: 10px;padding-bottom: 10px; border-bottom: solid 1.5pt #fafafa;" ng-repeat="k in vm.item.item" ng-click="vm.clickDetail(k)">
        <div class="dp-flex" style="width: 100%;">
            <a style="white-space: normal;
            width: 40%;"  href="">
              <div>
                {{k.pt_desc1}} <span ng-if="k.wt_type">({{k.wt_type}})</span>
              </div>
       
            </a>
    
         
    
            <a style="flex:1;text-align: center;"  href="">
              <div>
                {{k.wt_wt_total | number}}
              </div>
       
            </a>
    
            <a style="flex:1;text-align: center;"  href="">
                <div>
                  {{k.pt_um}}
                </div>
         
              </a>
    
            <a style="width:30%;text-align: right;white-space: normal"  href="">
                <div>
                  {{k.wt_wt_cost | currency : value=""}}
                </div>
              
         
              </a>
        </div>

        <div class="dp-flex">
            <a style="width:40%;font-weight: bold;"  href="">
                <div>
                  ราคารวม 
                </div>
         
              </a>
      
              <a style="flex:1;text-align: center;"  href="">
                <div>
                  
                </div>
         
              </a>
              <a style="flex:1;text-align: center;"  href="">
                  <div>
                    
                  </div>
           
                </a>
              <a style="width:30%;text-align: right;font-weight: bold;"  href="">
                  <div>
                    {{k.wt_wt_cost*k.wt_wt_total | currency : value=""}}
                  </div>
           
                </a>
        </div>

       

   
      
      </div>


    </div>


    <!-- <div class="item" style="margin-top: 10px;">
      <div class="dp-flex"><a>ค่าสินค้า</a><a>{{ getTotal().totalitem | number}}</a></div>
      <div class="dp-flex"><a>ค่าจัดส่ง</a>
        <a ng-if="vm.detail.mid_delivery == 'FREE'">{{vm.detail.mid_delivery}}</a>
        <a ng-if="vm.detail.mid_delivery != 'FREE'">{{vm.detail.mid_ship_prc | number}}</a>

    
    </div>
    </div> -->


    <div class="item" style="margin-top:10px">
      <div class="dp-flex" >
        <a style="margin-right: 10px;font-weight: bold;">หมายเหตุ</a>
        <a style="white-space: normal;">{{vm.item.rmks ? vm.item.rmks : '-'}}</a>
      </div>
    </div>

  <div style="height:100px"></div>
    
  </ion-content>

  <div style="position: absolute; bottom: 0px; width: 100%; background: white;">
    <div class="item" >
      <!-- <div class="dp-flex" style="font-weight: bold;">
        <a>รายการสินค้า</a><a style="color:green">{{vm.item.count_wt_ref}} รายการ</a>
        
      </div> -->
      <div class="dp-flex" style="font-weight: bold;">
        <a>ราคาสุทธิ</a><a style="color:green"> {{ vm.item.total_price | currency : value="฿ " }}</a>
        
      </div>
    </div>
  </div>
</ion-view>


  
 
