<ion-view hide-back-button="false" hide-nav-bar="false" cache-view="false">
  <ion-nav-buttons side="left">
    <button class="button button-clear ion-chevron-left" ng-click="vm.goBack()" style="font-weight: 400; color: white;">
      Back
    </button>
  </ion-nav-buttons>
  <ion-nav-title><b style="font-size: 18px;">รายการซื้อ</b>
  </ion-nav-title>
  <!-- <ion-nav-buttons side="right">
    <button
    class="button  button-outline button-light"
    style="font-weight: 400; color: white;"
    ng-click="openModalMonth()"
  >
    เดือน
  </button> -->
  <button class="button button-clear ion-plus" ng-click="vm.add()" style="font-weight: 400; color: white;">
    เพิ่ม
  </button>
  </ion-nav-buttons>
  <style>
    .dp-flex {
      display: flex;
      justify-content: space-between;
    }

    .item-dash {
      width: 50%;
      background-color: #fafafa;
      margin-left: 2px;
      height: 100px;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }

    .font-b {
      font-weight: bold;
    }

  </style>
  <!-- style="background-color: #fafafa;" -->


  <ion-content>
    <div class="list">
      <div class='item item-button-right'>
        สรุปยอดค่าใช้จ่ายเดือน <a style="color:green">{{vm.choiceSelect.fullname}}</a>
          <button class="button  button-positive " style="font-weight: 400;"
            ng-click="openModalMonth()">
            เลือกเดือน
          </button>
      </div>
    </div>

    <div style="display: flex;">
      <div class="item-dash">
        <div style="font-size: x-large;" class="balanced font-b">{{number.sale | currency : value="฿ "}}</div>
        <div style="color:gray">รายรับ</div>
      </div>
      <div class="item-dash">
        <div style="font-size: x-large;" class="assertive font-b">{{number.buy | currency : value="฿ "}}</div>
        <div style="color:gray">รายจ่าย</div>
      </div>


    </div>

    <div style="display: flex;margin-top:4px">
      <div class="item-dash" style=" width: 100%;">
        <div style="font-size: x-large;" class="positive font-b">{{number.diff |  currency : value="฿ "}}</div>
        <div style="color:gray">คงเหลือ</div>

      </div>

    </div>


    <div style="background-color: #fafafa;margin-top:10px">
      <div style="padding-top: 20px;
      padding-bottom: 0px;">
      <a style="margin-left: 10px;
      font-size: large;
      padding-top: 20px;
      padding-bottom: 0px;">กราฟแสดงรายรับ - จ่าย</a>
      <button class="button button-positive button-small" ng-click="toggleChart()">สลับกราฟ</button>

    </div>

      <canvas  height="5" width="5" id="base" class="chart-base" chart-data="data" chart-labels="labels" chart-series="series" chart-type="charttype"
        chart-options="options" chart-dataset-override="datasetOverride" chart-click="onClick" chart-colors="colors">
      </canvas>

    </div>




  </ion-content>
  <script id="my-month.html" type="text/ng-template">
    <ion-modal-view>
  
    
  
      <ion-header-bar>
        <button type="button" class="button button-assertive button-clear" ng-click="closeModalMonth()">close</button>
        <h1 class="title" style="text-align:center">สถานะ</h1>
        <!-- <button type="button" class="button button-balanced button-clear" ng-click="saveStatusValue()">ยืนยัน</button> -->
  
      </ion-header-bar>
  
      <ion-content >
        <div class="item"  ng-repeat="x in vm.month_mstr" ng-click="vm.choiceChange(x)">
          {{x.fullname}}
        </div>
      </ion-content>
  
  
  
  
    </ion-modal-view>
  </script>

</ion-view>
