<ion-view hide-back-button="false" cache-view="true">
  <!-- <ion-nav-buttons side="left">
      <button class="button button-clear ion-chevron-left" ng-click="vm.goBack()" style="color:white;font-weight: 400;">
        Back</button>
    </ion-nav-buttons> -->
  <ion-nav-title>การบันทึกโรคและแมลง</ion-nav-title>
  <style>
    .dp-flex {
      display: flex;
      justify-content: space-between;
    }

    .scroll-bar-h .scroll-bar-indicator {
      opacity: 0%;
    }

  </style>

  <ion-content style=" background-color: #fafafa;">
    <div class="list " ng-repeat="x in vm.list.result">


      <div class="item item-avatar item-icon-right">
        <img src="img/farmer-user.png">
        <h2>{{x.frm_fname}} {{x.frm_lname}}</h2>
        <p><span>{{x.datedesc}} {{x.times}}</span></p>
        <i class="icon ion-more button" style="background-color: transparent;" ng-click="vm.more(x)"></i>
      </div>

      <div class="item item-body" >
        <a class="item item-list-detail" style="border: none;    padding: 0px;">
          <ion-scroll direction="x">

            <img ng-repeat="y in x.path" ng-src="{{y.path}}" class="image-list-thumb"
            ng-click="vm.openPic($index,x.path)" />
          </ion-scroll>
        </a>
        <div style="margin-top:20px">
          <div style="display: flex;justify-content: space-between;">
            <a ><span style="font-weight: bold;">หัวข้อ </span>: <span>{{x.dis_type_desc}}</span></a>
          </div>
          <div style="display: flex;justify-content: space-between;">
            <a ><span style="font-weight: bold;">พื้นที่ </span>: <span>{{x.farm_name}}</span></a>
            <a ><span style="font-weight: bold;">ID </span>: <span>{{x.dis_wo_id}}</span></a>
            
            
          </div>
          <div><a style="font-weight: bold;">รายการ :</a> <a>{{x.pt_desc1}}</a></div>
          <div><a style="font-weight: bold;">วันเริ่มปลูก :</a> <a>{{x.datedescord}}</a></div>

          <!-- <div><a style="font-weight: bold;">จำนวนวัน:</a> <a>{{x.pt_desc1}}</a></div> -->



        </div>
        <div style="font-weight: bold;margin-top:20px">
          รายละเอียด
        </div>
        <p>
          {{x.dis_desc1}}
        </p>
        <p>
          <a href="" class="subdued" ng-click="vm.goComment(x)">[ {{x.comments}} ] การตอบกลับ</a>
        </p>
      </div>

    </div>

    <div ng-if=" vm.list.status == false" style="text-align: center;font-size: 18pt;margin-top:20px">ไม่พบรายการ</div>


    <br>
    <br>
    <br>



  </ion-content>



</ion-view>
