<ion-view hide-back-button="true" cache-view="false">
  <ion-nav-buttons side="left">
    <button class="button button-clear ion-chevron-left" ng-click="vm.goBack()" style="color:white;font-weight: 400;">
      Back</button>
  </ion-nav-buttons>
  <ion-nav-title> รายละเอียดการบันทึก</ion-nav-title>
  <style>
    .dp-flex {
      display: flex;
      justify-content: space-between;
    }

  </style>

  <ion-content style=" background-color: #fafafa;" scroll="false">
    <div style="height: 25%;overflow-x: hidden;">

      <div class="list">

        <div class="item">
          <div class="dp-flex">
            <a style="font-weight: bold;">เลขที่ใบสั่งปลุก</a><a>{{wo.wo_lot}}</a>
          </div>
          <div class="dp-flex">
            <a style="font-weight: bold;">หมวด</a><a>{{wo.description}}</a>
          </div>
          <div class="dp-flex">
            <a style="font-weight: bold;">กลุ่ม</a><a>{{wo.pt_group_desc}}</a>
          </div>
          <div class="dp-flex">
            <a style="font-weight: bold;">ประเภท</a><a>{{wo.comments}}</a>
          </div>
          <div class="dp-flex">
            <a style="font-weight: bold;">รายการ</a><a>{{wo.pt_desc1}}</a>
          </div>

          <div class="dp-flex">
            <a style="font-weight: bold;">รหัส</a><a>{{wo.wo_part}}</a>
          </div>

          <div class="dp-flex">
            <a style="font-weight: bold;">พื้นที่</a><a>{{wo.farm_name}}</a>
          </div>

          <div class="dp-flex">
            <a style="font-weight: bold;width: 40%;">กิจกรรม</a><a style="white-space: break-spaces;
            text-align: right;">{{route.ro_desc}}</a>
          </div>

          <div>
            <a style="font-weight: bold;width: 40%;">รายละเอียดงานที่ต้องทำ</a>
          </div>
          <p style="text-indent: 2.5em;white-space: break-spaces;">{{route.ro__chr01}}</p>
          <div>
            <a style="font-weight: bold;width: 40%;"><span style="color:red">*หมายเหตุ </span>: -</a>
          </div>



        </div>

      </div>

    </div>


    <div style="height: 75%;overflow-x: hidden;">
      <div class="list">
        <div class="item item-icon-left  item-icon-right" ng-click="ctrl.isOpen = true">
          <i class="icon ion-calendar"></i>
          <div><a>วันที่บันทึก <span style='color:red'>*</span></a><a style="color:gray">
              {{model.datedesc ? "[ "+model.datedesc+" ]":''}} </a>
          </div>
          <i class="icon ion-ios-arrow-right"> </i>
          <md-datepicker ng-model="raw.dateStart" ng-change="mdDateChange(raw.dateStart)" md-placeholder="Enter date"
            md-is-open="ctrl.isOpen" style="position: fixed;
          display: flex;
          margin-top: 20px;
          right: 0;
          contain: size;">
          </md-datepicker>
        </div>



        <div class="item item-icon-left  item-icon-right" ng-click="vm.picktime() ">
          <i class="icon ion-clock"></i>
          <div><a>เวลา <span style='color:red'>*</span></a><a style="color:gray">
              {{model.time ? "[ "+model.time+" ]":''}}
            </a>
          </div>
          <i class="icon ion-ios-arrow-right"></i>
        </div>

        <div class="item item-input item-stacked-label" style="background: white;">
          <span class="input-label">รายละเอียดงานที่ทำ</span>
          <input type="text" placeholder="รายละเอียดงานที่ทำ" ng-model="model.rmks">
        </div>


      </div>

      <div style="padding: 10px;color: gray;">
        <a>อากาศ / ความชื้น</a>
      </div>

      <div class="list">
        <div class="item item-input item-icon-left" ng-repeat="q in tempData">
          <i class="icon " style="position: unset;    margin-left: -5px;color:red;margin-top: -5px;">
            <div ng-style="{{q.style}}"></div>
          </i>
          <span class="input-label" style="    margin-left: 10px;">
            <a>{{q.desc}}</a>
            <a style="color:gray"> [ {{q.um}} ]</a></span>
          <input type="tel" style="text-align: right;" ng-model="q.val" maxlength="5" placeholder="-"
            oninput="this.value=this.value.replace(/[^0-9.]/g,'');">
        </div>

      </div>


      <div style="padding: 10px;color: gray;">
        <a>ดิน / NPK</a>
      </div>

      <div class="list">
        <div class="item item-input item-icon-left" ng-repeat="q in soil">
          <i class="icon " style="position: unset;    margin-left: -5px;color:red;margin-top: -5px;">
            <div ng-style="{{q.style}}"></div>
          </i>
          <span class="input-label" style="    margin-left: 10px;">
            <a>{{q.desc}}</a>
            <a style="color:gray"> <a ng-if="q.um">[ {{q.um}} ]</a> </a></span>
          <input style="text-align: right;" ng-model="q.val" maxlength="5" placeholder="-"
            oninput="this.value=this.value.replace(/[^0-9.]/g,'');">
        </div>

      </div>



      <div style="padding: 10px;color: gray;">
        <a>น้ำ</a>
      </div>

      <div class="list">
        <div class="item item-input item-icon-left" ng-repeat="q in water">
          <i class="icon " style="position: unset;    margin-left: -5px;color:red;margin-top: -5px;">
            <div ng-style="{{q.style}}"></div>
          </i>
          <span class="input-label" style="    margin-left: 10px;">
            <a>{{q.desc}}</a>
            <a style="color:gray"> <a ng-if="q.um" style="color:gray">[ {{q.um}} ]</a></a></span>
          <input type="tel" style="text-align: right;" ng-model="q.val" maxlength="5" placeholder="-"
            oninput="this.value=this.value.replace(/[^0-9.]/g,'');">
        </div>

      </div>

      <div style="padding: 10px;color: gray;">
        <a>บันทึกข้อมูลตามกระบวนการป้อนเวลาการทำงานหน่วยเป็น นาที </a>
      </div>

      <div class="list">
        <div class="item item-input item-icon-left" ng-repeat='x in vm.opHist.result track by $index'
          style="padding:5px 0px 5px 0px;">
          <!-- <i class="icon ion-trash-a" style="position: unset;    margin-left: -5px;color:red;margin-top: -5px;" ng-click="vm.del($index)"></i> -->
          <span class="input-label" style="margin-left: 10px;">
            <a>{{x.rsn_desc}}</a>
            <!-- <a style="color:gray"> [ นาที ]</a> -->
          </span>
          <input type="tel" style="text-align: right;" ng-model="x.val" maxlength="3" placeholder="-"
            oninput="this.value=this.value.replace(/[^0-9]/g,'');">
        </div>

      </div>


      <style type="text/css">
        div.img-resize img {
          width: 100%;
          height: auto;
        }

        div.img-resize {
          width: 100%;
          height: auto;
          overflow: hidden;
          text-align: center;
        }

        .slider-pager {
          position: absolute;
          bottom: 20px;
          z-index: 1;
          width: 100%;
          height: 15px;
          text-align: center;
          display: none;
        }

      </style>

      <div class="">
        <div class="list">
          <li class="item item-toggle" style="font-weight: bold;">
            <div>โรคและแมลงที่ตรวจพบ</div>
            <div ng-if="!disease.desc && (disease.status == true)" style="color:red;font-size: small;">
              *ป้อนรายละเอียดก่อนบันทึก</div>

            <label class="toggle toggle-balanced">
              <input type="checkbox" ng-model="disease.status" ng-value="disease.status" ng-change="diseaseChange()">
              <div class="track">
                <div class="handle"></div>
              </div>
            </label>
          </li>






          <div ng-if="disease.status">
            <div class="item" style="padding:5px">
              <label class=" item-input item-select">
                <div class="input-label">
                  ประเภท

                </div>
                <select ng-model="disease.type">
                  <option ng-repeat="x in vm.distype">{{x.type}}</option>

                </select>

              </label>
              <div ng-if="!disease.type && (disease.status == true)" style="color:red;font-size: small;margin-top: -10px;
              margin-left: 10px;padding-bottom: 10px;">*เลือกประเภท</div>

            </div>


            <a class="item item-list-detail">
              <textarea rows="10" type="text" placeholder="รายละเอียด" maxlength="300" ng-model="disease.desc"
                style="width: 100%;"></textarea>
            </a>
            <div class="item  item-button-right">
              <i class="ion-images"></i>
              แนบรูปภาพ
              <button class="button button-positive" ng-click="vm.addPic(disease)">
                <i class="icon ion-camera"></i>
              </button>
              <button class="button button-positive" ng-click="vm.selectPic(disease)" style="right: 70px;">
                <i class="icon ion-image"></i>
              </button>
            </div>

            <a class="item item-list-detail" ng-if="disease.pic.length > 0">
              <ion-scroll direction="x">
                <img ng-repeat="image in disease.pic" ng-src="{{image.img}}" class="image-list-thumb"
                  ng-click="vm.removeIcon($index,disease)" />
              </ion-scroll>
            </a>

          </div>
        </div>
      </div>

      <div class="" style="margin-top:20px">
        <div class="list">


          <li class="item item-toggle" style="font-weight: bold;">
            <div>อัตราการเจริญเติบโต</div>
            <div ng-if="!growth.desc && (growth.status == true)" style="color:red;font-size: small;">
              *ป้อนรายละเอียดก่อนบันทึก</div>

            <label class="toggle toggle-balanced">
              <input type="checkbox" ng-model="growth.status" ng-value="growth.status" ng-change="growthChange()">
              <div class="track">
                <div class="handle"></div>
              </div>
            </label>
          </li>
          <div ng-if="growth.status">
            <label class="item item-input item-select">
              <div class="input-label">
                การวัด

              </div>
              <!-- <select ng-model="growth.type">
                <option ng-repeat="x in vm.growthType">{{x.type}}</option>
  
              </select> -->
              <select ng-options="x as x.type for x in vm.growthType " ng-model="growth.type"
                ng-change="vm.typeChange(growth.type)"></select>

            </label>
            <!-- {{growth.type}} -->


            <label class="item item-input item-select" ng-if="growth.type.val != 4">
              <div class="input-label">
                หน่วยการเติบโต
                <p ng-if="growth.um &&  vm.growthUm.length > 1" style="color: #e6b500;
                font-size: small;
                width: 200%;
                white-space: break-spaces;
                word-break: break-word;">หากบันทึกหน่วยการเจริญเติบโตนี้แล้ว
                  ครั้งต่อไปจะไม่สามารถเปลี่ยนแปลงหน่วยได้อีก</p>
              </div>
              <select ng-options="x as x.um for x in vm.growthUm " ng-model="growth.um">
                <!-- <option ng-repeat="x in vm.growthUm">{{x.um}}</option> -->
              </select>
            </label>

            <div class="item" style="padding:5px" ng-if="growth.type.val == 4">
              <label class=" item-input item-select">
                <div class="input-label">
                  ระดับสี

                </div>
                <select ng-model="growth.value">
                  <option ng-repeat="x in vm.colorlevel">{{x.val}}</option>
                </select>

              </label>
              <div ng-if="!growth.value && (growth.status == true)" style="color:red;font-size: small;margin-top: -10px;
              margin-left: 10px;padding-bottom: 10px;">*เลือกประเภท</div>

            </div>





            <label class="item item-input" ng-if="growth.type.val != 4">
              <span class="input-label">ค่าการเจริญเติบโต <a style="color:red;font-weight: bold;">*</a></span>
              <input type="text" style="text-align: right;" placeholder="ป้อนค่าการเจริญเติบโต" ng-model="growth.value"
                oninput="this.value=this.value.replace(/[^0-9]/g,'');">
            </label>




            <!-- <div class="item" style="padding:5px">

              <label class="item item-input item-select" ng-if="growth.type.val == 4">
                <div class="input-label">
                  ระดับสี
                </div>
                <select ng-model="growth.value">
                  <option ng-repeat="x in vm.colorlevel">{{x.val}}</option>
                </select>
              </label>

          

              <div ng-if="!growth.value && (growth.status == true)" style="color:red;font-size: small;margin-top: -10px;
              margin-left: 10px;padding-bottom: 10px;">*เลือกประเภท</div>

            </div> -->
            <!-- 
              <div ng-if="!growth.value && (growth.status== true)" style="color:red;font-size: small;margin-top: -10px;
                  margin-left: 10px;padding-bottom: 10px;">*ป้อนค่าการเจริญเติบโต</div>
                  </div> -->







            <a class="item item-list-detail">
              <textarea rows="10" type="text" placeholder="รายละเอียด" maxlength="300" ng-model="growth.desc"
                style="width: 100%;"></textarea>
            </a>


            <div class="item  item-button-right">
              <i class="ion-images"></i>
              แนบรูปภาพ
              <button class="button button-positive" ng-click="vm.addPic(growth)">
                <i class="icon ion-camera"></i>
              </button>
              <button class="button button-positive" ng-click="vm.selectPic(growth)" style="right: 70px;">
                <i class="icon ion-image"></i>
              </button>
            </div>

            <a class="item item-list-detail" ng-if="growth.pic.length > 0">
              <ion-scroll direction="x">
                <img ng-repeat="image in growth.pic" ng-src="{{image.img}}" class="image-list-thumb"
                  ng-click="vm.removeIcon($index,growth)" />
              </ion-scroll>
            </a>
          </div>


        </div>
      </div>





      <br>
      <br>
      <br>
      <br>
    </div>






  </ion-content>
  <script id="myOp.html" type="text/ng-template">
    <ion-modal-view style="bottom:10%;border-raduius:10px;border-radius: 10px;">
        <ion-header-bar>
            <button type="button" class="button button-assertive button-clear" ng-click="closeModalOp()">close</button>
          <h1 class="title" style="text-align:center">รายการบันทึก</h1>
          <!-- <button type="button" class="button icon ion-trash-a button-assertive button-outline" ng-click="vm.deleteCrop()" ></button> -->
        </ion-header-bar>
        <ion-content >
          <div class="list" >
            <div
              class="item item-button-right"
              ng-repeat="x in ophistItem track by $index"
            >
            <div>{{x.desc}} <a ng-if="checkInclude(x.code)" style="color:red">(รายการนี้ถูกเพิ่มในการบันทึกแล้ว)</a></div>
            <button type="button" class="button button-positive"   ng-click="vm.add(x)" ng-if="!checkInclude(x.code)">
              <i class="icon ion-ios-plus-empty"></i>
            </button>
            </div>
          </div>
        </ion-content>
      </ion-modal-view>
    </script>



  <div style="position: absolute; bottom: 0px; width: 100%; background: white;z-index: 99;">
    <div style="text-align: center; padding-left: 10px; padding-right: 10px;">
      <button type="button" class="button button-balanced button-block" ng-click="vm.confirm()">
        บันทึกรายการ
      </button>
    </div>
  </div>
</ion-view>
