<ion-view hide-back-button="false" cache-view="true">
  <!-- <ion-nav-buttons side="left">
    <button class="button button-clear ion-chevron-left" ng-click="vm.goBack()" style="color:white;font-weight: 400;">
      Back</button>
  </ion-nav-buttons> -->
  <ion-nav-title>Agripo Mart
  </ion-nav-title>
  <ion-nav-buttons side="right">

  </ion-nav-buttons>
  <style>
    .abc:active {
      transform: scale(0.8);
    }

  </style>

  <style>
    .scroll {
      height: 120%;
    }

    .dp-flex {
      display: flex;
      justify-content: space-between;
    }

  </style>

  <ion-content style="background:#f5f5f5;">

    <div>{{martData.mess}}</div>



    <script id="modaRegister.html" type="text/ng-template">
      <ion-modal-view >
        <ion-header-bar>
            <button type="button" class="button button-assertive button-clear" ng-click="closeModalRegister()">close</button>
          <h1 class="title" style="text-align:center" >ลงทะเบียน AgriproOne</h1>
          <!-- <button type="submit" class="button icon ion-trash-a button-assertive button-outline" ng-click="vm.deleteCrop()" ></button> -->
        </ion-header-bar>
        <ion-content   >
          <style>
             .modal-open{
                    pointer-events: all;
                  }
  
          </style>
                 


                  <div class="item item-divider" style="text-align:left">
                    <h2 style="font-size: 16pt"><i class="icon ion-person "></i> ข้อมูลเข้าใช้งาน</h2>
                  </div>
                  <label class="item item-input item-select">

                    <div class="input-label">
                      ปรเภทผู้ใช้งาน *
                    </div>

                    <select 
                    ng-options="item as item.label for item in userType track by item.id"
                    ng-model="userTypeSelected" style="text-align:right;">
                  </select>

                  </label>
            
                  <label class="item item-input item-stacked-label">
                    <span class="input-label">รหัสเข้าใช้งาน <span>*</span></span>
                    <span ng-if="model.user_username.length <6" style="position: absolute;right: 10px;color:red">รหัสเข้าใช้งานไม่ถูกต้อง</span>
                    <input type="text"  maxlength="12" placeholder="รหัสเข้าใช้งาน (username) 6-12 ตัวอักษร" ng-model="model.user_username"
                      ng-pattern="/^[a-zA-Z0-9]*$/" uppercased>
                  </label>
            
            
            
                  <label class="item item-input item-stacked-label">
                    <span class="input-label">รหัสผ่าน <span>*</span></span>
                    <span ng-if="!checkPass()" style="position: absolute;right: 10px;color:red">รหัสผ่านไม่ตรงกัน</span>
                    <input type="password" maxlength="12" placeholder="รหัสผ่าน  8-12 ตัวอักษร" ng-model="model.user_pass" ng-pattern="/^[a-zA-Z0-9]*$/"
                      uppercased>
            
                  </label>
                  <label class="item item-input item-stacked-label">
                    <span class="input-label">ยืนยันรหัสผ่าน <span>*</span></span>
                    <span ng-if="!checkPass()" style="position: absolute;right: 10px;color:red">รหัสผ่านไม่ตรงกัน</span>
                    <input type="password" maxlength="12" placeholder="ยืนยันรหัสผ่าน  8-12 ตัวอักษร" ng-model="model.user_repass" ng-pattern="/^[a-zA-Z0-9]*$/"
                      uppercased>
                  </label>

                  <label class="item item-input item-stacked-label">
                    <span ng-if="!valid.telValid && valid.isTelChange" style="position: absolute;right: 10px;color:red">รูบแบบเบอร์โทรศัพท์ไม่ถูกต้อง</span>
                    <span class="input-label">เบอร์ติดต่อ</span>
                    <input type="text" ng-change="telChange()" placeholder="เบอร์ที่สามารถติดต่อได้ 10 หลัก" ng-model="model.user_tel"
                      oninput="this.value=this.value.replace(/[^0-9]/g,'');" maxlength="10">
                  </label>
              
          
                  <label class="item item-input item-stacked-label">
                    <span class="input-label">ชื่อ <span>*</span></span>
                    <input type="text" placeholder="ชื่อ" ng-model="model.user_fname">
                  </label>
       
            
         
            
                  <label class="item item-input item-stacked-label">
                    <span class="input-label">อีเมล์ <span>*</span></span>
                    <span ng-if="!checkEmail()" style="position: absolute;right: 10px;color:red">รูปแบบ Email ไม่ถูกต้อง</span>

                    <input type="text" placeholder="Example@gmail.com" ng-model="model.user_email">
                  </label>


                 
          

          
                
            
                    <div></div>
            
                    <style>
                      .flex-div {
                        width: 30%;
                        margin-left: 5px;
                        margin-top: 5px;
                      }
            
                      .img-flex {
                        width: 100%;
                        height: 100%;
                      }
            
                    </style>
            
            
            
            
                    <div class="row" style="margin-left:2px">
                      <div class="col">
                        <button type="button" class="button button-balanced button-block" style="font-size:18px;border-radius: 10px"
                          ng-click="confirm()">
                          ยืนยัน
                        </button>
                      </div>
            
            
                    </div>
                  </div>

      
        </ion-content>
      </ion-modal-view>
    </script>


    <script id="modalAddress.html" type="text/ng-template">
      <ion-modal-view >
        <ion-header-bar>
            <button type="button" class="button button-assertive button-clear" ng-click="closeModalRegister()">close</button>
          <h1 class="title" style="text-align:center" >ช้อมูลที่อยู่</h1>
          <!-- <button type="submit" class="button icon ion-trash-a button-assertive button-outline" ng-click="vm.deleteCrop()" ></button> -->
        </ion-header-bar>
        <ion-content   >
          <style>
             .modal-open{
                    pointer-events: all;
                  }
  
          </style>
                 
                 <div class="card" style="margin: 0px 0px; ">

                  <div class="item item-divider" style="text-align:left">
                    <h2 style="font-size: 16pt"><i class="icon ion-map "></i>ข้อมูลการติดต่อ</h2>
                  </div>

                  
                  <label class="item item-input item-stacked-label">
                    <span class="input-label">คำนำหน้า <span style="color:red">*</span></span>
                    <input type="text" placeholder="คำนำหน้า" ng-model="address.user_title">

     
                  </label>
                  
                  <label class="item item-input item-stacked-label">
                    <span class="input-label">ชื่อ <span style="color:red">*</span></span>
                    <input type="text" placeholder="ชื่อ" ng-model="address.user_fname">
                  
                  </label>
                  <label class="item item-input item-stacked-label">
                    <span class="input-label">นามสกุล <span style="color:red">*</span></span>
                    <input type="text" placeholder="นามสกุล" ng-model="address.user_lname">

                  </label>

                  <style>
                    input[type="text"]:disabled {
                          background: none;
                      }
                  </style>

                  <label class="item item-input item-stacked-label" ng-click=" vm.pickdate()" syule="height:50px">
                    <span class="input-label">วัน-เดือน-ปี เกิด<span style="color:red">*</span></span>
                    <input type="text" placeholder="วัน-เดือน-ปี เกิด" ng-model="address.bd_date" disabled>

                   <!-- <div style="color:gray">{{address.bd_date}}</div> -->

                  </label>

                    <label class="item ">
                      <span class="input-label">เลขที่บัตรประชาชน 
                      <span ng-if="!citizenId()" style="position: absolute;right: 10px;color:red">เลขบัตรประชาชนไม่ถูกต้อง</span>
                      <span ng-if="citizenId()"
                        style="position: absolute;right: 10px;color:green">สามารถใช้เลขบัตรประชาชนนี้ได้</span>
                      <input type="text" placeholder="รหัส 13 หลัก" ng-model="address.user_citizen_id"
                        oninput="this.value=this.value.replace(/[^0-9]/g,'');" minlength="13" maxlength="13" ng-change="citizenId()">
                    </label>
                  <!-- <label class="item item-input item-stacked-label">
                    <span class="input-label">วันเกิด</span>
                    <input type="text" placeholder="เบอร์ที่สามารถติดต่อได้ 10 หลัก" ng-model="address.user_birdth"
                      oninput="this.value=this.value.replace(/[^0-9]/g,'');" minlength="9" maxlength="10">
                  </label> -->
                  

                  <label class="item item-input item-stacked-label">
                    <span class="input-label">เบอร์ติดต่อ <span style="color:red">*</span></span>
                    <input type="text" placeholder="เบอร์ที่สามารถติดต่อได้ 10 หลัก" ng-model="address.user_tel"
                      oninput="this.value=this.value.replace(/[^0-9]/g,'');" minlength="9" maxlength="10">
                  </label>
       
                  <label class="item item-input item-stacked-label">
                    <span class="input-label"> บ้านเลขที่ 
                    </span>
          
                    <input type="text" placeholder="บ้านเลขที,หมู่บ้าน" ng-model="address.user_address">
                  </label>
   
                  <label class="item item-input item-stacked-label">
                    <span class="input-label">จังหวัด <span style="color:red">*</span></span>
          
                    <div class="row" style="text-align:center;margin-left:0px;margin-bottom: -10px;position:relative">
                      <div class="col">
          
                        <div class="form-group">
          
                          <select class="form-control"
                            ng-options="item as item.pro_province_desc for item in vm.province track by item.pro_province_code"
                            ng-model="vm.provinceSelect" ng-change="vm.provinceChange(vm.provinceSelect)">
                          </select>
                        </div>
                      </div>
                    </div>
                  </label>
          
                  <label class="item item-input item-stacked-label">
                    <span class="input-label">อำเภอ <span style="color:red">*</span></span>
                    <div class="row" style="text-align:center;margin-left:0px;margin-bottom: -10px;position:relative">
                      <div class="col">
          
                        <div class="form-group">
          
                          <select class="form-control"
                            ng-options="item as item.pro_aumphur_desc for item in  vm.aumphur track by item.pro_aumphur_code"
                            ng-model="vm.aumphurSelect" ng-change="vm.aumphurChange(vm.aumphurSelect)">
                          </select>
                        </div>
                      </div>
                    </div>
                  </label>
          
                  <label class="item item-input item-stacked-label">
                    <span class="input-label">ตำบล <span style="color:red">*</span></span>
                    <div class="row" style="text-align:center;margin-left:0px;margin-bottom: -10px;position:relative">
                      <div class="col">
          
                        <div class="form-group">
          
                          <select class="form-control"
                            ng-options="item as item.pro_tumbol_desc for item in  vm.tumbol track by item.pro_tumbol_code"
                            ng-model="vm.tumbolSelect">
                          </select>
                        </div>
                      </div>
                    </div>
                  </label>



                  <label class="item item-input item-stacked-label">
                    <span class="input-label">รหัสไปรษณีย์ </span>
                    <input type="text" placeholder="รหัสไปรษณีย์ 5 หลัก" ng-model="address.user_post"
                      oninput="this.value=this.value.replace(/[^0-9]/g,'');" minlength="5" maxlength="5">
                  </label>


                  
          

          
                
            
                    <div></div>
            
                    <style>
                      .flex-div {
                        width: 30%;
                        margin-left: 5px;
                        margin-top: 5px;
                      }
            
                      .img-flex {
                        width: 100%;
                        height: 100%;
                      }
            
                    </style>
            
            
            
            
                    <div class="row" style="margin-left:2px">
                      <div class="col">
                        <button type="button" class="button button-balanced button-block" style="font-size:18px;border-radius: 10px"
                          ng-click="confirmAddress()">
                          ยืนยัน
                        </button>
                      </div>
            
            
                    </div>
                  </div>
                </div>

      
        </ion-content>
      </ion-modal-view>
    </script>

  </ion-content>
</ion-view>
